:host{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.card-style-obj-single {
    left: 50%;
    display: flex;
    flex-flow: column;
    width: 1000px;
    height: 524px;
    margin-top: -262px;
    margin-left: -501px;
    overflow: hidden;
    top: 50%;
    box-shadow: 0 0 2px #000;
    padding: 0;
}
.notebook-title{
    background-color: #0071BD;
    color: white;
    padding: 0px;
    z-index: 10;
    text-align: center;
}
.nb-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 1px;
    background-color: white;
}
.nb-list {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.notebook-title h5{
    margin: 0;
    line-height: 30px;
}
.nb-list-filter{
    display: flex;
    position: relative;
    padding: 10px;
}
.word-box{
    line-height: 96px;
    margin-left: -10px;
}
.word{
    font-size: 60px;
}
.word-box img{
    max-height: none;
    width: auto;
    //height: 100%;
}
.word-box, .phoneme-box, .sentence-box{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 480px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -240px;
    transition: left 0.3s ease, opacity 0.3s ease;
    text-align: center;
    font-weight: 400;
    color: brown;
}
.img-parent {
    // width: 180px;
    // height: 150px;
}
.card-showdown-button{
    display: block;
    position: absolute;
    color: blue;
    font-size: 34px;
    left: 100%;
    top: 100%;
    margin-left: -60px;
    margin-top: -48px;
    cursor: pointer;
    text-align: center;
    z-index: 1000;
}
.card-showup-button{
    top: 0;
    margin-top: 0px;
}
.word-prev-button{
    left: 0%;
    margin-left: 5px;
}
.word-next-button{
    left: 100%;
    margin-left: -40px;
}
.word-next-button, .word-prev-button{
    top: 93%;
    margin-top: -20px;
}
.sample-sentence{
    display: block;
    position: relative;
    z-index: 1000;
    width: 100%;
    padding: 0px 24px;
    font-size: 18px;
}
.sample-sentence b{
    font-weight: 700;
    font-size: 24px;
    color: red;
}
.sample-sentence span[data-play]{
    cursor: pointer;
}
span.word-native {
    display: block;
    line-height: 1;
    color: #a52a2ab0;
}
.sentence-defination {
    background-color: #b7d7fe;
    color: #5c80f1;
    position: relative;
    //height: 100px;
    width: 100%;
    max-width: 500px;
}

.btn-translate {
    position: absolute;
    bottom: 0;
    right: 0;
    display: table;
    background: #3F51B5;
    padding: 2px 9px;
    color: #fff;
    line-height: 20px;
}

.tranlsation-box{
padding: 10px 24px;
line-height: 30px;
}

.word-box img {
    max-width: 200px;
    max-height: 280px;
}

.row.cust-word-img {
    width: 100%;
    max-width: 500px;
}

.cust-row{
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    padding: 10px;
    margin: 4px;
    box-shadow: 0 0 3px #777;

    p{
        padding: 2px;
        border: 1px solid;
        border-radius: 4px;
        background-color: lightgray;
        margin: 4px;
    }

    .form-group{
        margin: 20px;
    }
}

.cust-sea{
    position: relative;
    width: 100%;
    z-index: 999;
    margin: 0;
    box-shadow: 0 0 2px #777;
    border-radius: 4px;
}

.mobile-view{
    display: none;
}

@media only screen and (min-width:1025px){
    .word-sent{
        overflow: hidden;
    }

    .cust-row{
        height: 444px;
    }

}

@media only screen and (max-width:1024px)
{
    .card-style-obj-single{
        width: 400px;
        height: 444px;
        margin-left: -200px;
        margin-top: -222px;
    }
    .cust-word-img .col-md-6 {
        width: 50%;
    }
    .row.cust-word-img {
        width: 100%;
        max-width: 345px;
    }
    .word{
        font-size: 35px;
    }
    .word-box{
        line-height: 1;
        width: 400px;
        margin-left: -200px;
    }
    .word-box img{
        max-height: 70px;
        max-width: 240px;
    }
    .word-next-button, .word-prev-button{
        //margin-top: -25px;
        margin-top: -10px;
    }
    .word-next-button{
        //margin-left: -52px;
        margin-left: -43px;
    }
    .word-prev-button{
        margin-left: -7px;
    }
    .card-showdown-button{
        width: 50px;
        height: 50px;
    }
    .sample-sentence{
        font-size: 10px;
    }
    .sentence-defination{
        height: 50px;
        font-size: 12px;
        width: auto;
    }
    .tranlsation-box{
        padding: 5px 30px;
        line-height: 18px;
    }
    .btn-translate{
        z-index: 9999;
    }

    .cust-row{
        p{
            padding: 3px;
            font-size: 14px;
        }
    }

    .img-parent{
        img{
            width: auto;
        }
    }

    .card-showdown-button{
        font-size: 25px;
    }

    .desktop-view{
        display: none;
    }

    .mobile-view{
        display: flex;
        .cust-row .col-3{
            padding: 0;
        }
    }

    .cust-sea{
        /*width: 90%; */
        padding: 5px;
        box-shadow: none;
    }
}
