:host{
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
.card-style-obj-single {
	left: 50%;
	display: flex;
	flex-flow: column;
	width: 1000px;
	height: 475px;
	margin-top: -262px;
	margin-left: -501px;
	overflow: hidden;
	top: 50%;
	box-shadow: 0 0 2px #000;
	padding: 0;
}
.notebook-title{
	background-color: #0071BD;
	color: white;
	padding: 0px;
	z-index: 10;
	text-align: center;
}
.nb-content{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-bottom: 1px;
	background-color: white;
}
.nb-list {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.notebook-title h5{
	margin: 0;
	line-height: 30px;
}
.nb-list-filter{
	display: block;
	position: relative;
}
.word-box{
	line-height: 96px;
	margin-left: -10px;
}
.word{
	font-size: 60px;
}
.word-box img{
	max-height: none;
	width: auto;
	//height: 100%;
}
.word-box, .phoneme-box, .sentence-box{
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	width: 480px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -240px;
	transition: left 0.3s ease, opacity 0.3s ease;
	text-align: center;
	font-weight: 400;
	color: brown;
}
.img-parent {
	// width: 180px;
	// height: 150px;
}
.card-showdown-button{
	display: block;
	position: fixed;
	color: blue;
	font-size: 34px;
	left: 100%;
	top: 100%;
	margin-left: -60px;
	margin-top: -48px;
	cursor: pointer;
	text-align: center;
	z-index: 1000;
}
.card-showup-button{
	top: 0;
	margin-top: 0px;
}
.word-prev-button{
	left: 49%;
	margin-left: 5px;
}
.word-next-button{
	left: 100%;
	margin-left: -40px;
}
.word-next-button, .word-prev-button{
	top: 90%;
	margin-top: 0px;
}
.sample-sentence{
	display: block;
	position: relative;
	z-index: 1000;
	width: 100%;
	padding: 0px 24px;
	font-size: 18px;
}
.sample-sentence b{
	font-weight: 700;
	font-size: 24px;
	color: red;
}
.sample-sentence span[data-play]{
	cursor: pointer;
}
span.word-native {
	display: block;
	line-height: 1;
	color: #a52a2ab0;
}
.sentence-defination {
	background-color: #29aae1;
	color: white;
	position: relative;
	//height: 100px;
	width: 100%;
	max-width: 100%;
	text-align: left;
}

.btn-translate {
	position: absolute;
	bottom: 0;
	right: 0;
	display: table;
	background: #3F51B5;
	padding: 2px 9px;
	color: #fff;
	line-height: 20px;
}

.tranlsation-box{
	padding: 10px 24px;
	line-height: 30px;
	height: 150px;
}

.word-box img {
	max-width: 200px;
	max-height: 280px;
}

.row.cust-word-img {
	width: 100%;
	max-width: 500px;
}

.cust-row{
	display :inline-block;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: white;
	padding: 10px;
	margin: 4px;
	box-shadow: 0 0 3px #777;
	box-shadow: unset;
    background-color: #f0f0ee;

	p{
		padding: 2px;
		border: 1px solid;
		border-radius: 4px;
		background-color: lightgray;
		margin: 4px;
	}

	.form-group{
		margin: 20px;
	}
}

.cust-sea{
	position: relative;
	width: 100%;
	z-index: 999;
	margin: 0;
	box-shadow: 0 0 2px #777;
	border-radius: 4px;
}

.mobile-view{
	display: none;
}

@media only screen and (min-width:1025px){
	.word-sent{
		overflow: hidden;
	}

	.cust-row{
		/*height: 43vh;*/
	}

}

@media only screen and (max-width:1024px)
{
	.card-style-obj-single{
		width: 400px;
		height: 444px;
		margin-left: -200px;
		margin-top: -222px;
	}
	.cust-word-img .col-md-6 {
		width: 50%;
	}
	.cust-word-img .mobile-word-text.col-md-6 {
		width: 45%;
	}
	.cust-word-img .mobile-word-image.col-md-6 {
		width: 55%;
	}
	.row.cust-word-img {
		width: 100%;
		max-width: 345px;
	}
	.word{
		font-size: 35px;
	}
	.word-box{
		line-height: 1;
		width: 400px;
		margin-left: -200px;
	}
	.word-box img{
		max-height: 70px;
		max-width: 240px;
	}
	.word-next-button, .word-prev-button{
		//margin-top: -25px;
		margin-top: -10px;
	}
	.word-next-button{
		//margin-left: -52px;
		margin-left: -43px;
	}
	.word-prev-button{
		margin-left: -7px;
		left: 0px;
	}
	.card-showdown-button{
		width: 50px;
		height: 50px;
	}
	.sample-sentence{
		font-size: 18px;
	}
	.sentence-defination{
		height: 50px;
		font-size: 12px;
		/*width: auto;*/
	}
	.tranlsation-box{
		padding: 5px 30px;
		line-height: 18px;
	}
	.btn-translate{
		z-index: 9999;
	}

	.cust-row{
		p{
			padding: 3px;
			font-size: 14px;
		}
	}

	.img-parent{
		img{
			width: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.card-showdown-button{
		font-size: 25px;
	}

	.desktop-view{
		display: none;
	}

	.mobile-view{
		display: flex;
		.cust-row .col-3{
			padding: 0;
		}
	}

	.cust-sea{
		/*width: 90%; */
		padding: 5px;
		box-shadow: none;
	}
}
/** Updated CSS **/
.cust-row p.highlight{
	/*background-color: #e4807f;*/
	color:#5d88a7;
}
div#myTabContent {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #484848;
	justify-content: center;
}
.tab-content>.active {
	display: block;
	width: 100%;
	height: 91%;
	background: #cccccc;
}
.notebook-tabpanel{
	/*height: 10%;*/
}
/*.col-4.ng-tns-c2-0.ng-star-inserted {*/
.col-4 {
	display: inline-block;
    border-bottom: 1px solid #ccc;
}
/*.col-3.ng-tns-c2-0.ng-star-inserted {*/
.col-3 {
	display: inline-block;
}
.nb-content
{
	background-color:#cccccc;
}
.card-style-obj-single
{
	left: unset;
	width: 100%;
	height: 100%;
	margin-top: unset;
	margin-left: unset;
	overflow-y: auto;
	top: 55.3%;
	box-shadow: 0 0 2px #000;
	padding: 0;
	position:unset;
	transform:unset !important;
	max-width:100%;
	background-color:#cccccc;
}
.word-sent .word-box {
	width: 100%;
	height: 100%;
	position: unset;
	max-width: 100%;
	margin: 0;
}
/*.card-showdown-button.word-prev-button.ng-tns-c2-0.ng-star-inserted {*/
.card-showdown-button.word-prev-button {
	position: absolute;
	top: 88%;
	margin: 0px;
	left: 3%;
}
/*.card-showdown-button.word-next-button.ng-tns-c2-0.ng-star-inserted {*/
.card-showdown-button.word-next-button {
	position: absolute;
	top: 88%;
	margin: 0px;
	left: 92%;
}
.sentence-defination {
	overflow-y:auto;
}
/*.ng-tns-c2-0.col-md-6.col-sm-6.col-sx-6*/
.col-md-6.col-sm-6.col-sx-6
{
	margin:auto 0;
}
.nb-list-filter .input-group, .nb-list-filter .form-group {
	width: 49%;
	float: left;
}
.nb-list-filter .input-group {
	padding:0 10px;
}
/*.word-sent .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted.active{*/
.word-sent .word-box.word-full-description.active{
	display: flex;
	flex-flow: column;
	height: 100%;
    box-shadow: 0px 0px 5px #797979
}
/*.word-sent .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted{*/
.word-sent .word-box.word-full-description{
	display: none;
	height: 100%;
}
/*.word-sent .ng-tns-c2-0 .word-box .cust-word-img {*/
.word-sent .word-box .cust-word-img {
	height: 65%;
	background-color:white;
	max-width: 100%;
}
/*.word-sent .ng-tns-c2-0 .word-box .sentence-defination {*/
.word-sent .word-box .sentence-defination {
	height: 35%;
}
.word-box img{
	max-width: 100%;
	max-height: unset;
	height: 212px;
	width: 100%;
	object-fit: contain;
	object-position: center;
}
.word-sent > div:nth-child(1) {
	height: 100%;
}
.tranlsation-box
{
	height:auto;
}
.notebook-title{
	height:5%
}
.row.nb-content {
	padding: 15px 0;
	height: 95%;
	overflow: hidden;
}
.words-list-column
{
	padding: 15px;
	background-color: white;
	height: 100%;
}
.word-list
{
	height: 89%;
}
.nb-list-filter{
	height: 10%;
}
.cust-row[_ngcontent-c2] p[_ngcontent-c2] {
    padding: 2px;
    border: unset;
    border-radius: unset;
    background-color: unset;
    margin: 4px;
    font-weight:900;
}
.nb-list-filter .form-control, .nb-list-filter .input-group-btn button.btn.btn-default{
	background-color: #16335b;
	color: white;
}
.nb-list-filter .input-group-btn button.btn.btn-default.border
{
	border-left:unset;
	border-radius:0px 50px 50px 0px;
}
.nb-list-filter .input-group input.form-control
{
	border-right:unset;
	border-radius:50px 0px 0px 50px;
}
.img-parent {
    height: 100%;
    position: unset;
    margin: 0;
    padding: 0;
    width: 100%;
}
@media only screen and (max-width:1366px)
{
	.word-list
	{
		height: 84%;
	}
	.nb-list-filter {
	    height: 15%;
	}
	.notebook-title{
		height:8%
	}
	.row.nb-content {
		padding: 15px 0;
		height: 92%;
	}
	.card-showdown-button.word-next-button.ng-tns-c2-0.ng-star-inserted[_ngcontent-c2] {
		top: 85%;
		left: 89%;
	}
	.card-showdown-button.word-prev-button.ng-tns-c2-0.ng-star-inserted {
		top: 85%;
		left: 4%;
	}
}

@media only screen and (max-width:504px)
{
    .word-box {
        line-height: 1;
        width: 100%;
        margin-left: unset;
        position: unset;
		margin-top: unset;
    }
    div.card-block-item.card-style-obj-single.mobile-view > div.word-defination:nth-child(2) {
	    height: 92%;
	}
    .word-box {
	    height: 100%;
	}
	.row.cust-word-img {
	    max-width: 100%;
	    height: 50%;
	}
	.sentence-defination {
	    height: 50%;
	}
	.word-defination .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted.active{
		display: flex;
		flex-flow: column;
		height: 100%;
	    box-shadow: 0px 0px 5px #797979
	}
	.word-defination .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted{
		display: none;
		flex-flow: column;
		height: 100%;
	    box-shadow: 0px 0px 5px #797979
	}
}

@media only screen and (max-width:1024px)
{
    .word-box {
        line-height: 1;
        width: 100%;
        margin-left: unset;
        position: unset;
		margin-top: unset;
    }
    div.card-block-item.card-style-obj-single.mobile-view > div.word-defination:nth-child(2) {
	    height: 92%;
	}
    .word-box {
	    height: 100%;
	}
	.row.cust-word-img {
	    max-width: 100%;
	    height: 50%;
	}
	.sentence-defination {
	    height: 50%;
	}
	.word-defination .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted.active{
		display: flex;
		flex-flow: column;
		height: 100%;
	    box-shadow: 0px 0px 5px #797979
	}
	.word-defination .word-box.word-full-description.ng-tns-c2-0.ng-star-inserted{
		display: none;
		flex-flow: column;
		height: 100%;
	    box-shadow: 0px 0px 5px #797979
	}
	.card-showdown-button.word-prev-button.ng-tns-c2-0.ng-star-inserted {
		top: 85%;
		left: 0%;
	}
	.cust-word-img .mobile-word-image.col-md-6
	{
		width:50%;
	}
	.nb-list-filter{
		height: 22%;
	}
	.cust-row{
		height:68%;
	}
	.nb-list-filter .input-group, .nb-list-filter .form-group {
		width: 100%;
	}
}
.button-close-report{
    display: block;
    position: absolute;
    top: 8px;
    left: 100%;
    width: 35px;
    height: 30px;
    margin-left: -43px;
    border: none;
    background: transparent;
    font-size: 30px;
    /* line-height: 51px; */
    cursor: pointer;
    color: #10A9FF;
    z-index: 999;
    /* margin: 0; */
    padding: 0;
    line-height: 30px;
    background-color: white;
    border-radius: 3px;
}
.button-close-report:hover{
    color: rgb(12, 107, 161);
}
.button-close-report:focus{
    border: none;
    outline: none;
}


li.nav-item .nav-link {
    background-color:#f37828;
    background-image: linear-gradient(#d86428, #e89054);
    border: 1px solid #cccccc;
    border-bottom: unset;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    left:-25px;
    position:relative;
    text-align:center;
}
li.nav-item:nth-child(1) .nav-link {
    background-color:#f37828;
    border-top: 1px solid #cccccc;
    border-left: 1px solid;
    border-radius: 5px 10px 0px 0px;
    transform: unset;
    -ms-transform: unset;
    -webkit-transform: unset;
    left:0;
    width: 170px;
}
li.nav-item:nth-child(1) .nav-link .nav-text{
    transform: unset;
    -ms-transform: unset;
    -webkit-transform: unset;
}
li.nav-item .nav-link.active
{
    background-color:#cccccc !important;
    background-image:unset;
    box-shadow: 0px -14px 15px #3a3a3a;
}
.nav-link .nav-text {
    display:block;
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    font-weight:900;
    font-size:20px;
    color:white;
}
.nav-link.active .nav-text {
    color:#196ba1;
}
@media only screen and (max-width:504px)
{
    li.nav-item:nth-child(1) .nav-link{
        width:95px;
    }
    .nav-link .nav-text{
        font-size: 16px;
    }
    li.nav-item .nav-link{
        left:-5px;
    }
    .word-box {
        line-height: 1;
        width: 100%;
        margin-left: unset;
        position: unset;
    }
}