<div class='card-item-navigation-prev' [ngStyle]='nav_style_prev' (click)='movePrev()' *ngIf='_mode === "dual"'></div>
<div class='card-item-navigation-next' [ngStyle]='nav_style_next' (click)='moveNext()' *ngIf='_mode === "dual"'
[ngClass]="{'blinkhighlight': blinknext}"></div>




<div class="card-block-item card-style-obj-single card-block-tst" [ngClass]="" [ngStyle]="layout">

  <div id='app-is-loading-screen' [hidden]="tstdata !== undefined && tstdata !== null ? true:false" style='display: flex; text-align: center; justify-content: center; margin-top: 20px; position: relative;'><img src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMiAzMic+PGxpbmVhckdyYWRpZW50IGlkPSdGYXN0TG9hZGluZ0luZGljYXRvci1saW5lYXJHcmFkaWVudCcgZ3JhZGllbnRVbml0cz0ndXNlclNwYWNlT25Vc2UnIHgxPScxLjc4MDQnIHkxPScxNi4wMzc5JyB4Mj0nMzAuMTQzOScgeTI9JzE2LjAzNzknPjxzdG9wIG9mZnNldD0nMC40MTY5JyBzdG9wLWNvbG9yPScjQ0RDRkQyJy8+PHN0b3Agb2Zmc2V0PScwLjkzNzYnIHN0b3AtY29sb3I9J3JnYmEoMjQ4LDI0OCwyNDksMCknLz48L2xpbmVhckdyYWRpZW50PjxjaXJjbGUgY3g9JzE2JyBjeT0nMTYnIHI9JzEyLjcnIHN0eWxlPSdmaWxsOiBub25lOyBzdHJva2U6IHVybCgjRmFzdExvYWRpbmdJbmRpY2F0b3ItbGluZWFyR3JhZGllbnQpOyBzdHJva2Utd2lkdGg6IDI7Jz48L2NpcmNsZT48L3N2Zz4=' alt='' style="width: 36px; height: 36px;" /></div>

  <!-- Tests content container -->
  <div class="tc-container" [hidden]="tstdata == undefined || tstdata === null ? true:false">

    <!-- Test content slider -->
    <div class="tc-slider">
      <ng-template app-test></ng-template>
    </div>


    <!-- Test content navigation -->
    <div class="tc-nav">
      <div class="tc-nav-panel">
        <span class="tc-nav-item tc-nav-prev" (click)="mvPrev()" [hidden]="ctestpos === 0 || ctestpos >= max">PREV</span>
        <span class="tc-nav-item tc-nav-pages" [hidden]="ctestpos !== 0" (click)="mvNext()">Continue</span>
        <span class="tc-nav-item tc-nav-pages" [hidden]="ctestpos < max" (click)="moveNext()">Finish</span>
        <span class="tc-nav-item tc-nav-pages" [hidden]="ctestpos === 0 || ctestpos >= max">{{ ctestpos }} of {{ max-1 }}</span>
        <span class="tc-nav-item tc-nav-next" (click)="mvNext()" [hidden]="ctestpos === 0 || ctestpos >= max">NEXT</span>
      </div>
    </div>

  </div>
  
</div>