<div class='card-item-navigation-prev' [ngStyle]='nav_style_prev' (click)='movePrev()' *ngIf='_mode === "dual"'></div>
<div class='card-item-navigation-next' [ngStyle]='nav_style_next' (click)='moveNext()' *ngIf='_mode === "dual"'
[ngClass]="{'blinkhighlight': blinknext}"></div>


<div class="card-block-item card-style-obj-single card-block-spl">
  <div class='card-content-body-wrap-spl'>
		<span class='letters-content-wrap-spl'>{{ display_letters }}</span>
		<div class='bw1-block bw1-description syp-description'>
			{{ card.content[0].desc }}
		</div>
   </div>
</div>