/***********************************************	RP1 block styling **************************************************/

.card-content-body-wrap-or1{
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 12px;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.or1-hint-letters{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    min-height: 26%;
    align-items: center;
    min-width: 50%;
    margin-top: -10%;
    cursor: pointer;
    padding-bottom: 8px;
}

.or1-hint-letters span {
    display: inline-block;
    font-size: 54px;
}

@media only screen and (max-width:1024px)
{
    .card-content-body-wrap-or1 {
        justify-content: space-between;
    }
    .or1-hint-letters {
        margin-top: 10%;
    }
    .or1-hint-letters span {
        font-size: 44px;
    }
    
}


.rp1-content-body-wrap{
	
}
.rp1-letter-image{
	background-color: transparent;
	padding: 0;
    cursor: pointer;
    height: auto;
}
.rp1-letter-image img{
	display: inline-block;
    width: 270px;
    margin: 10px;
}

@media only screen and (max-width:1024px)
{
	.rp1-letter-image {
    	margin-top: 6px;
    }
    .rp1-letter-image img {
    	width: 120px;
    }
}