<div class='card-item-navigation-prev' [ngStyle]='nav_style_prev' (click)='movePrev()' *ngIf='_mode === "dual"'></div>
<div class='card-item-navigation-next' [ngStyle]='nav_style_next' (click)='moveNext()' *ngIf='_mode === "dual"'
[ngClass]="{'blinkhighlight': blinknext}"></div>


<div class="card-block-item card-style-obj-single card-block-rw1">

    <div *ngFor='let cn of card.content; let cnkey = index' class="word-block" [attr.wordindex]="cnkey">
      <div class='word-box'>
        <div class="row cust-word-img">
          <div [ngClass]="!cn.content[0].img ? 'col-md-12 col-sm-12 col-xs-12' : 'col-md-6 col-sm-6 col-sx-6'" (click)="playWord(cn.wavename)">           
              <div class='word mb-2'>{{ cn.title }}</div>
              <span class='word-native' [hidden]="!cn.translations || checkForName(cn.title)">{{ cn.translations ? cn.translations[0] : ''}}</span>                      
          </div>
          <div class="col-md-6" [hidden]='!cn.content[0].img'>
            <div class="img-parent">
                <img [hidden]='!cn.content[0].img' [src]='cn.content[0].img ? playmedia.ltkmediaurl + cn.content[0].img : ""' alt='' />
            </div>              
          </div>
        </div>
        <div class="sentence-defination" [hidden]="!cn.definition">
            <span *ngIf='!showTranslation' class='sample-sentence tranlsation-box'>{{cn.definition}}</span>
            <span *ngIf='showTranslation' class='sample-sentence tranlsation-box'>{{cn.definition_native}}</span>
            <span class="btn-translate" [hidden]="!cn.definition_native" (mouseenter) ="showTranslationStatus($event) "  (mouseleave) ="showTranslationStatus($event)" (click)="showTranslationStatus($event)">Translate</span>
        </div>
      </div>
      <div class='phoneme-box' (click)="playPronounce(cnkey)" [attr.wordblock]="cnkey">
        <span class='phoneme-header'>Pronounce</span>
        <span *ngFor='let ph of cn.breakdown.split("-"); let kph = index' class='phoneme-syllable'>
          <span *ngFor='let l of ph.split(","); let kl=index' [attr.playsyl]='kph' [attr.playpos]='kl'>{{ l }}</span>
          
        </span>
        <div class="click-to-play-wrap">
          <span class="click-to-play-text">{{ 'click_to_play' | translate }}</span>
          <div class="click-to-play-pointer"></div>
        </div>
      </div>
      <div class='sentence-box'>
        <span class='sentence-header'>Sample sentence</span>
        <span class='word-box-sentence' (click)="playWord(cn.wavename)">
            <span class='word'>{{ cn.title }}</span>
            <img [hidden]='!cn.content[0].img' [src]='cn.content[0].img ? playmedia.ltkmediaurl + cn.content[0].img : ""' alt='' />
        </span>
        <!--
        <span class='sample-sentence' [hidden]="!cn.content[0].sentence" [innerHTML]="cn.content[0].sentence | bindhtml" app-playsentence [attr.data-ind]="'sent_'+cnkey"></span>
        <span class='sample-sentence ss-default' [hidden]="cn.content[0].sentence" (click)="playDefaultSampleSentence()"><span>This is word</span>&nbsp;<span><b>{{ cn.title }}</b></span>.</span>
        -->
        <span class='sample-sentence' [hidden]="!cn.sentence" [innerHTML]="cn.sentence | bindhtml" app-playsentence [attr.data-ind]="'sent_'+cnkey"></span>
        <span class='sample-sentence ss-default' [hidden]="cn.sentence" (click)="playDefaultSampleSentence()"><span>This is word</span>&nbsp;<span><b>{{ cn.title }}</b></span>.</span>
      </div>
    </div>

    <div class='card-description-wrap-ar2 diw-card-description rw1-description'>
      <span>{{ card.content[0].desc }}</span>
    </div>
    <!--
    <div class='card-showdown-button word-next-button' (click)='showNextWord()'><i class="far fa-arrow-alt-circle-right"></i></div>
    <div class='card-showdown-button word-prev-button' (click)='showPrevWord()'><i class="far fa-arrow-alt-circle-left"></i></div>
    -->

</div>