.card-block-rw1{
}
.word-block{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 100;
}
.word-box{
    line-height: 96px; 
}
.word{
    font-size: 36px; 
}
.word-box img{
    max-height: none;
    width: auto;
    //height: 100%;
}
.word-box, .phoneme-box, .sentence-box{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease, opacity 0.3s ease;
    text-align: center;
    font-weight: 400;
    color: brown;
    margin-top: -10px;
}
.img-parent {
    // width: 180px;
    // height: 150px;
}
.phoneme-box, .sentence-box{
    /*display: block;*/
}
.card-showdown-button{
    display: block;
    position: absolute;
    color: blue;
    font-size: 34px;
    left: 100%;
    top: 100%;
    margin-left: -60px;
    margin-top: -48px;
    cursor: pointer;
    text-align: center;
    z-index: 1000;
}
.card-showup-button{
    top: 0;
    margin-top: 0px;
}
.word-prev-button{
    left: 0%;
    margin-left: 5px;
}
.word-next-button{
    left: 100%;
    margin-left: -40px;
}
.word-next-button, .word-prev-button{
    top: 90%;
    margin-top: -20px;
}

.phoneme-syllable{
    display: inline-block;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    font-size: 64px;
    font-weight: 600;
    padding: 6px;
    margin-right: -1px;
    position: relative;
}
.phoneme-header, .sentence-header{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 99px;
    font-size: 46px;
}
.sentence-header{
    margin-bottom: 19px;
}
.word-box-sentence{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 195px;
    margin-bottom: 13px;
}
.word-box-sentence .word{
    font-size: 36px;
    line-height: 190px;
    margin-right: 20px;
    margin-left: 20px;
}
.word-box-sentence img{
    max-height: 100%;
    max-width: 200px;
}
.sample-sentence{
	display: block;
    position: relative;
    z-index: 1000;
    width: 100%;
    padding: 0px 26px;
    font-size: 18px;
    margin-top: 13px;
}
.sample-sentence b{
	font-weight: 700;
	font-size: 24px;
	color: red;
}
.sample-sentence span[data-play]{
	cursor: pointer;
}
span.word-native {
    display: block;
    // margin-top: -25px;
    line-height: 1;
    color: #a52a2ab0;
}
.sentence-defination {
    background-color: #b7d7fe;
       color: #5c80f1;
       position: relative;
       height: 100px;
       width: 100%;
       max-width: 500px;
       overflow-y: auto;
   }
       
.btn-translate {
    position: absolute;
    bottom: 0;
    right: 0;
    display: table;
    background: #3F51B5;
    padding: 2px 9px;
    color: #fff;
    line-height: 20px;
}

.tranlsation-box{
    padding: 10px 24px;
    line-height: 1.2em;
}

.word-box img {
    max-width: 200px;
    max-height: 280px;
}

.row.cust-word-img {
    width: 100%;
    max-width: 500px;
    align-items: center;
}
.rw1-description{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 1;
}
.click-to-play-wrap{
    display: block;
    position: absolute;
    width: 336px;
    height: 30px;
    top: 184px;
    left: 50%;
    margin-left: -208px;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    z-index: 10;
    font-size: 18px;
}
.click-to-play-pointer{
    display: block;
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: darkblue;
    top: 85%;
    left: 39%;
    transform: skewX(68deg) rotate(153deg);
    z-index: 1;
}
.click-to-play-text{
    display: block;
    position: relative;
    z-index: 100;
}
.gwf-variant{
    display: inline-block;
    text-align: center;
    background-color: #C69C6D;
    color: white;
    font-size: 34px;
    line-height: 1em;
    padding: 0 20px;
    padding-bottom: 5px;
    box-shadow: 0 0 3px brown;
    margin: 0 10px;
    cursor: pointer;
}
.iss-instructions{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.interactive-ss{
    font-size: 28px;
    line-height: 1em;
}
.gwf-answer-placeholder{
    font-weight: 600;
}

@media only screen and (max-width:1024px)
{
    .cust-word-img .col-md-6 {
        width: 50%;
    }
    .row.cust-word-img {
        width: 100%;
        max-width: 345px;
    }
    .word{
        font-size: 20px; 
    }
    .word-box{
        line-height: 1; 
    }
    .word-box img{
        max-height: 100px;
        max-width: 160px;
        
    }
    .phoneme-header, .sentence-header{
        margin-bottom: 22px;
        font-size: 28px;
    }
    .phoneme-syllable{
        font-size: 44px;
    }
    .sentence-header{
        margin-bottom: 10px;
    }
    .word-box-sentence{
        height: 84px;
        margin-bottom: 10px;
    }
    .word-box-sentence .word{
        line-height: 84px;
    }
    .word-next-button, .word-prev-button{
        margin-top: -25px;
    }
    .word-next-button{
        margin-left: -52px;
    }
    .card-showdown-button{
        width: 50px;
        height: 50px;
    }    
    .sample-sentence{
        font-size: 14px;
    }
    .sentence-defination{
        height: 66px;
        font-size: 12px;
    }
    .tranlsation-box{
        padding: 8px 30px;
    }
    .btn-translate{
        z-index: 9999;
    }
    .word-next-button, .word-prev-button{
        top: 81%;
    }
    .click-to-play-wrap{
        width: 204px;
        height: 20px;
        top: 100px;
        margin-left: -125px;
        font-size: 11px;
        line-height: 1.6;
    }
    .click-to-play-pointer {
        top: 65%;
    }
    .gwf-variant {
        font-size: 20px;
        padding: 0 13px;
        padding-bottom: 3px;
    }
}