.showme-report-container{
	width: 70%;
	max-width: 1200px;
	margin: auto;
}
.show-me-loading{
	display: block;
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 1400px){
	.showme-report-container{
		width: 90%;
		max-width: 1000px;
	}
}
@media screen and (max-width: 1024px){
	.showme-report-container{
		width: 100%;
	}
}