<div class="book-container">

    <!--<div id='page-is-loading-screen' style='display: none; margin-top: 50px;'>{{ 'loading')<img src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMiAzMic+PGxpbmVhckdyYWRpZW50IGlkPSdGYXN0TG9hZGluZ0luZGljYXRvci1saW5lYXJHcmFkaWVudCcgZ3JhZGllbnRVbml0cz0ndXNlclNwYWNlT25Vc2UnIHgxPScxLjc4MDQnIHkxPScxNi4wMzc5JyB4Mj0nMzAuMTQzOScgeTI9JzE2LjAzNzknPjxzdG9wIG9mZnNldD0nMC40MTY5JyBzdG9wLWNvbG9yPScjQ0RDRkQyJy8+PHN0b3Agb2Zmc2V0PScwLjkzNzYnIHN0b3AtY29sb3I9J3JnYmEoMjQ4LDI0OCwyNDksMCknLz48L2xpbmVhckdyYWRpZW50PjxjaXJjbGUgY3g9JzE2JyBjeT0nMTYnIHI9JzEyLjcnIHN0eWxlPSdmaWxsOiBub25lOyBzdHJva2U6IHVybCgjRmFzdExvYWRpbmdJbmRpY2F0b3ItbGluZWFyR3JhZGllbnQpOyBzdHJva2Utd2lkdGg6IDI7Jz48L2NpcmNsZT48L3N2Zz4=' alt='' /></div>-->
    <div id='main-app-screen' class='' style='display: block; opacity: 1;overflow: auto;'>
		<div class='row sidetrip-mode' *ngIf='sidetripmode'>
            <span class='sidetrip-message'>{{ 'sidetrip_mode' | translate }}<span class='sidetrip-disable-btn' (click)="disableSidetrip()">&nbsp;&nbsp;&nbsp;{{ 'here' | translate }}</span>.</span>
        </div>
        <div class='row ltk-header'>
			<h3>Language Tune-up Kit {{ 'student_menu' | translate }}</h3>
		</div>
		<div class='row ltk-student'>
			<h1>{{ student.name }}</h1>
            <h4>{{ student.sid_message }}</h4>
		</div>
		<div class="row ltk-breaks-list" [hidden]="show_notebook || show_grammar || show_testing">
	        <div class="col-md-12">
	            <div class="tab" role="tabpanel">
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs" role="tablist">
	                    <li class="nav-item">
                            <a href="#break_1" aria-controls="break_1-tab" role="tab" data-toggle="tab" [ngClass]="{'active': student.lu <= 22}"><span>{{ 'break' | translate }} 1</span></a>
                        </li>
	                    <li class="nav-item">
                            <a href="#break_2" aria-controls="break_2-tab" role="tab" data-toggle="tab" [ngClass]="{'active': student.lu > 22 && student.lu <= 41}"><span>{{ 'break' | translate }} 2</span></a>
                        </li>
	                    <li class="nav-item">
                            <a href="#break_3" aria-controls="break_3-tab" role="tab" data-toggle="tab" [ngClass]="{'active': student.lu > 41 && student.lu <= 58}"><span>{{ 'break' | translate }} 3</span></a>
                        </li>
	                    <li class="nav-item">
                            <a href="#break_4" aria-controls="break_4-tab" role="tab" data-toggle="tab" [ngClass]="{'active': student.lu > 58 && student.lu <= 75}"><span>{{ 'break' | translate }} 4</span></a>
                        </li>
	                    <li class="nav-item">
                            <a href="#break_5" aria-controls="break_5-tab" role="tab" data-toggle="tab" [ngClass]="{'active': student.lu > 75}"><span>{{ 'break' | translate }} 5</span></a>
                        </li>
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content">
	                    <div role="tabpanel" class="tab-pane fade" id="break_1" aria-labelledby="break_1-tab" [ngClass]="{'in active': student.lu <= 22, 'show': student.lu <= 22}">
	                        <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_1.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_1' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_2.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_2' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_3.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_3' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                         <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_4.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_4' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                         <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_5.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_5' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                         <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_1.col_6.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_1.col_6' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                         <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='clearfix'></div>
                            <div class="alert alert-success" role="alert">{{ 'checkbox_mark' | translate }}</div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane fade" id="break_2" aria-labelledby="break_2-tab" [ngClass]="{'in active': student.lu > 22 && student.lu <= 41, 'show': student.lu > 22 && student.lu <= 41}">
	                        <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_1.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_1' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_2.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_2' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_3.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_3' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_4.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_4' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_5.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_5' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_2.col_6.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_2.col_6' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='clearfix'></div>
                            <div class="alert alert-success" role="alert">{{ 'checkbox_mark' | translate }}</div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane fade" id="break_3" aria-labelledby="break_3-tab" [ngClass]="{'in active': student.lu > 41 && student.lu <= 58, 'show': student.lu > 41 && student.lu <= 58}">
	                        <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_1.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_1' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_2.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_2' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_3.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_3' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_4.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_4' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_5.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_5' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_3.col_6.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_3.col_6' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='clearfix'></div>
                            <div class="alert alert-success" role="alert">{{ 'checkbox_mark' | translate }}</div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane fade" id="break_4" aria-labelledby="break_4-tab" [ngClass]="{'in active': student.lu > 58 && student.lu <= 75, 'show': student.lu > 58 && student.lu <= 75}">
	                        <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_1.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_1' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_2.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_2' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_3.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_3' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_4.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_4' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_5.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_5' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_4.col_6.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_4.col_6' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='clearfix'></div>
                            <div class="alert alert-success" role="alert">{{ 'checkbox_mark' | translate }}</div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane fade" id="break_5" aria-labelledby="break_5-tab" [ngClass]="{'in active': student.lu > 75, 'show': student.lu > 75}">
	                        <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_1.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_1' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_2.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_2' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_3.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_3' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_4.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_4' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_5.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_5' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-lg-2 col-md-3 col-sm-4 col-6' *ngIf="break_to_display_5.col_6.length > 0">
                                <ul>
                                    <li *ngFor='let lsn of break_to_display_5.col_6' (click)='setLesson(lsn.number)'
                                        [ngClass]="{'lenable': lsn.number == student.lu && !sidetripmode}">
                                        <div *ngIf='lsn.complete === "false"' 
                                            [ngClass]="{'lenable': lsn.number == student.lu || sidetripmode}">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div *ngIf='lsn.complete === "true"'>
                                            <i class="far fa-check-square"></i>
                                        </div>
                                        <span>&nbsp;{{ lsn.alias }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class='clearfix'></div>
                            <div class="alert alert-success" role="alert">{{ 'checkbox_mark' | translate }}</div>
	                    </div>
                    </div>
                    
                    <!--  Lesson description and theme  -->
                    <div class="tab-content lesson-desc-tab">
                        <!-- Description -->
                        <div class='col-md-4 subtab description-subtab' *ngIf="cl.theme">
                            <h2>{{ 'lesson' | translate }}&nbsp;{{ cl.alias }}</h2>
                            <div class='col-sm-12'>{{ cl.desc }}</div>
                        </div>
                        <!-- Theme -->
                        <div class='col-md-4 subtab theme-subtab' *ngIf="cl.theme">
                            <h2>{{ 'theme' | translate }}</h2>
                            <div class="col-sm-12">
                                <h3>{{ cl.theme[0].group_desc }}</h3>
                            </div>
                            <div class="col-sm-12">
                                <span *ngFor="let t of cl.theme">{{ t.theme_desc }}</span>
                            </div>
                            
                        </div>
                        <!-- Go button -->
                        <div class='col-md-4 subtab goto-lesson-subtab' *ngIf="cl.theme">
                            <h2>{{ 'go_to_lesson' | translate }}</h2>
                            <button class='btn btn-success button-with-theme' (click)="showLesson(current_lesson)">{{ 'go_to_lesson' | translate }} ></button>
                        </div>


                        <!-- Description -->
                        <div class='col-md-6 subtab description-subtab' *ngIf="!cl.theme">
                            <h2>{{ 'lesson' | translate }}&nbsp;{{ cl.alias }}</h2>
                            <div class='col-sm-12'>{{ cl.desc }}</div>
                        </div>
                        <!-- Go button -->
                        <div class='col-md-6 subtab goto-lesson-subtab' *ngIf="!cl.theme">
                            <h2>{{ 'go_to_lesson' | translate }}</h2>
                            <button class='btn btn-success button-without-theme' (click)="showLesson(current_lesson)">{{ 'go_to_lesson' | translate }} ></button>
                        </div>

                    </div>


	            </div>
	        </div>
        </div>
        <div class="row zoom-frame" style="margin: 0; height: 600px" [hidden]="!show_notebook && !show_grammar && !show_testing">
            <!-- Notebook   -->
            <app-notebook [show]="show_notebook" [scale]="scale" [hidden]="!show_notebook"></app-notebook>

            <!-- Grammar   -->
            <app-grammar [show]="show_grammar" [scale]="scale" [hidden]="!show_grammar"></app-grammar>

            <!-- Testing -->
            <app-showtesting [show]="show_testing" [scale]="scale" [hidden]="!show_testing" (closetesting)="onCloseTesting()"></app-showtesting>
        </div>
        
        <!--  Lesson pointer arrow  -->
        <div class="lesson-ponter-arrow" [ngStyle]="arrow_pointer"><i class="fas fa-arrow-down"></i></div>

    </div>

    <!--  Menu background   -->
    <app-msmenu (sidetripmode)="onSidetripmode($event)"
                (closemenu)="onCloseMenu()"
                (showsettings)="onShowSettings()"
                (showfeedback)="onShowFeedback()"
                (shownotebook)="onShowNotebook()"
                (showgrammar)="onShowGrammar()"
                (showtesting)="onShowTesting()" 
                [lu]="current_lesson_title"
                [last_uncomplete] = "student.lu"
                [show_tool_pages_list]="false"
                [show_menu_open_button]="true">
                
    </app-msmenu>
    
    <!-- /Menu background   -->

        
    <!--    Settings window   -->
    <app-settings [show]='show_setting_modal' [hidden]="!show_setting_modal" [versetting_show]="true"  (closesettings)="onCloseSettings()"></app-settings>

    <!--    Feedback window   -->
    <app-feedback  [show]='show_feedback_modal' [hidden]="!show_feedback_modal" (closefeedback)="onCloseFeedback()"></app-feedback>
        
        
</div>

