html, body, .book-container, #main-app-screen, .tool-window{
    height: 100%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#app-layout{
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/img/mat.png);
}
#main-app-screen{
    display: none;
    transition: opacity 1.4s ease-in;
    opacity: 0;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    -webkit-flex-flow: column nowrap; 
    flex-flow: column nowrap;
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2; 
}
#page-is-loading-screen, #list-is-loading-screen{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #aeaeae;
    line-height: 4em;
    transition: opacity 0.4s ease;
    opacity: 1;
    -webkit-justify-content: center;
    justify-content: center;
    flex: 0 0 100%;
}
@keyframes rotation {
    0%   {transform: rotate(0deg);}
    20%  {transform: rotate(72deg);}
    40%  {transform: rotate(144deg);}
    60% {transform: rotate(216deg);}
    80% {transform: rotate(288deg);}
    100% {transform: rotate(360deg);}
}
#page-is-loading-screen img, #list-is-loading-screen img{
    width: 36px;
    height: 36px;
    margin-left: 13px;
    margin-top: 56px;
    transition: transform 1s linear;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.book-container{
    display: flex;
    flex-flow: row;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.ltk-header, .ltk-student{
	margin: 0;
	padding: 0;
	text-align: center;
}
.ltk-header{
	color: #23A7E5;
}
.ltk-student{
	margin-bottom: 20px;
    color: #7777bb;
}

.ltk-header h3{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.ltk-student{
    h1, h2, h4{
        display: block;
        width: 100%;
    }
}
.lesson-desc-tab{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 !important;
    border-style: none !important;
    box-shadow: 0 0 2px #777;
    overflow: hidden;
}
.subtab{
    padding: 0;
    box-shadow: 0 0 8px #333;
    padding-bottom: 10px;
    h2{
        background-color: #0B75AA;
        color: white;
        width: 100%;
        min-height: 45px;
        display: flex;
        align-items: center;
        font-size: 22px;
        padding: 0 20px;
    }
    button{
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.description-subtab{
    background-color: #A3E0FF;
    z-index: 300;
}   
.theme-subtab{
    background-color: #B7E6FF;
    z-index: 200;
    span{
        display: block;
    }
}
.goto-lesson-subtab{
    background-color: #D3EFFF;
    z-index: 100;
}

.lesson-ponter-arrow{
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 30px;
    height: 100px;
    left: 1064px;
    top: 424px;
    color: lightgreen;
    transition: top 0.3s ease, opacity 0.7s ease;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
}
.pointerhilight{
    background-color: #05FF05;
}

@media screen and (max-width: 767px) {
    
    .lesson-desc-tab{
        flex-flow: column;
    }
    
}




/*              Break Tabs               */
.ltk-breaks-list{
	margin: 0;
	padding: 0;
}
.ltk-breaks-list>.col-md-12>.tab>ul{
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.tab .nav-tabs{
    border-bottom:0px;
}
.tab .nav-tabs li{
    border-right:1px solid #ddd;
}
.tab .nav-tabs li:last-child{
    border-right:0px solid #ddd;
}
.tab .nav-tabs li:first-child a{
    border-left:1px solid #ddd;
}
.tab .nav-tabs li a {
    display: block;
    position: relative;
    color: #868686;
    background:#fff;
    border-radius:0;
    font-size:15px;
    margin-right:-1px;
    padding: 5.5px 28px;
    border-top:1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.nav-tabs li:first-child a{
    border-radius: 5px 0 0 5px;
}
.nav-tabs li:last-child a{
    border-radius: 0 5px 5px 0;
    border-right:1px solid #d3d3d3;
}
.tab .nav-tabs li a:hover{
    background:#eee;
}
.tab .nav-tabs li a:hover:before{
    border-left: 15px solid #eee;
}
.tab .nav-tabs li a.active:after,
.tab .nav-tabs li a:after{
    content:"";
    border-left: 17px solid #ff007a;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: absolute;
    top: 0px;
    right: -17px;
    z-index:1;
}
.tab .nav-tabs li a:after{
    border-left: 17px solid #d3d3d3;
}
.tab .nav-tabs li a.active:before{
    border-left: 17px solid #ff007a;
}
.tab .nav-tabs li a:before{
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #fff;
    border-top: 15px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    right: -15px;
    top: 2px;
    z-index: 2;
}
.tab .nav-tabs > li > a.active:focus,
.tab .nav-tabs > li > a.active:hover,
.tab .nav-tabs > li > a.active {
    border: none;
    color:#fff;
    background:#FF007A;
    border-top:1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.tab .nav-tabs li:last-child a.active:after,
.tab .nav-tabs li:last-child a:after{
    border: none;
}
.tab .nav-tabs li:last-child a:after,
.tab .nav-tabs li:last-child a:hover:before,
.tab .nav-tabs li:last-child a.active:before,
.tab .nav-tabs li:last-child a:before{
    border-left: none;
}
.tab-content>.active {
    display: flex;
    flex-flow: row wrap;
}
.tab .tab-content{
    padding:12px;
    color:#5a5c5d;
    margin-top:2%;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}
.tab-pane div ul{
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab-pane div ul li{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.tab-pane div ul li a{
    color: black;
    text-decoration: none;
}
.lenable, .tab-pane div ul li:hover{
    background-color: #eaeaff;
}
.tab-pane div ul li i{
    display: inline-block;
    font-size: 15px;
    /*color: #31A9DB;*/
    color: gray;
    top: -1px;
}
.lenable{
    color: #31A9DB !important;
}
.tab-pane div ul li div{
    display: inline-block;
    background-color: transparent;
}
.tab-pane div ul li .fa-check-square{
    color: #00D80A !important;
}
.tab-pane .alert{
    margin-top: 20px;
}
.sidetrip-mode{
    text-align: center;
    justify-content: center;
    color: white;
    background-color: lightcoral;
    margin: 0;
    padding: 0;
}
.sidetrip-message{
    font-size: 10px;
}
.sidetrip-disable-btn{
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
}
.rel-account-btn{
    display: inline;
    cursor: pointer;
    color: #FF007A;
    font-size: 28px;
}
.ltk-related-accounts {
    width: 300px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    margin-top: -23px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 2px #777;
    min-height: 220px;
    max-height: 600px;
    overflow: auto;
}
.ltk-set-starting{
    justify-content: center;
}
.ltk-set-starting-caption{
    line-height: 38px;
    margin-right: 20px;
    font-size: 20px;
}
.dropdown-menu.show {
    max-height: 300px;
    overflow: auto;
}

@media screen and (max-width: 1222px) {

}

@media screen and (max-width: 1024px) {
    .ltk-related-accounts {
        margin-left: -150px;
    }
}

@media screen and (max-width: 630px) {
	.tab .nav-tabs li {
	    width: 20%;
	    height: 100px;
	}
	.tab .nav-tabs li > a.active, 
	.tab .nav-tabs > li > a.active:focus, 
	.tab .nav-tabs > li > a.active:hover, 
	.tab .nav-tabs li > a, 
	.tab .nav-tabs > li > a:focus, 
	.tab .nav-tabs > li > a:hover{
		height: 100px;
		display: block;
	    position: relative;
	    padding: 5.5px 20px;
	}
	.tab .nav-tabs li > a.active span, 
	.tab .nav-tabs > li > a.active:focus span, 
	.tab .nav-tabs > li > a.active:hover span, 
	.tab .nav-tabs li > a span, 
	.tab .nav-tabs > li > a:focus span, 
	.tab .nav-tabs > li > a:hover span{
		width: 78px;
	    display: block;
	    position: absolute;
	    transform: rotate(-90deg);
	    top: 27px;
	    left: 24%;
	}
	.tab .nav-tabs li a.active:after, .tab .nav-tabs li a:after{
	    border-top: 50px solid transparent;
	    border-bottom: 50px solid transparent;
	    right: -17px;
	}
	.tab .nav-tabs li a:before{
		border-bottom: 47px solid rgba(0, 0, 0, 0);
	    border-left: 16px solid #fff;
	    border-top: 47px solid rgba(0, 0, 0, 0);
	    right: -15px;
	    top: 3px;
	}
    .ltk-student{
        margin-bottom: 17px;
    }
}
@media screen and (max-width: 420px) {
	.tab .nav-tabs li > a.active span, 
	.tab .nav-tabs > li > a.active:focus span, 
	.tab .nav-tabs > li > a.active:hover span, 
	.tab .nav-tabs li > a span, 
	.tab .nav-tabs > li > a:focus span, 
	.tab .nav-tabs > li > a:hover span{
	    left: 4%;
	}
} 

.report-loading{
	display: flex;
	flex-flow: row;
	min-height: 100px;
	width: 100%;
	font-size: 20px;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center
}
