:host, .testing-wrapper-slide{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.testing-container{
    display: block;
    position: absolute;
    width: 1000px;
    height: 550px;
    margin-top: -275px;
    margin-left: -500px;
    background-color: #E5EAEA;
    opacity: 0;
    transition: opacity 1s ease;
    padding: 0;
    left: 50%;
    top: 50%;
}
.tc-container{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}
.tc-slider{
    display: flex;
    min-height: 90%;
    width: 100%;
    order: 1;
    position: relative;
    perspective: 1000px;
}
.tc-nav{
    display: flex;
    min-height: 10%;
    height: 10%;
    width: 100%;
    order: 2;
    padding: 3px 30px;
    padding-bottom: 10px;
}
.tc-nav-panel{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 13%;
    height: 100%;
    background-color: #F4F6F5;
    border-radius: 3px;
    box-shadow: 0 0 3px #777;
    align-items: center;
    justify-content: space-around;
}
.tc-nav-panel-subtitles{
    width: 85%;
    margin-left: 2%;
    text-align: center;
    line-height: 1;
}
.tc-nav-item{
    font-size: 20px;
    font-weight: 600;
    color: #5B7EA5;
    cursor: pointer;
}
.tc-nav-item:hover{
    color: #45607C;
}
.tc-nav-pages{
    cursor: default;
}
.tc-nav-pages:hover{
    color: #5B7EA5;
}

.testing-sidebar{
    display: flex;
    position: relative;
    max-width: 140px;
    min-width: 140px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 3px #777;
    flex-flow: column nowrap;
}
.testing-wrap {
    display: flex;
    flex: 1;
    min-height: 100%;
    position: relative;
}

.zoom-card-next{
    display: block;
    background-image: url(../../../assets/img/next_button.png);
    background-size: contain;
    margin: 0;
    max-height: 64px;
    max-width: 64px;
    min-height: 64px;
    min-width: 64px;
    /*border-style: none;*/
    border-color: transparent;
    border-width: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.testing-sb-group{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    flex-flow: column;
}
.testing-edit-pcm-result, .testing-see-pcm-result, .testing-enable-practice, .testing-retake-test{
    background-color: transparent;
    background: none;
    color: #19b3e5;
    font-size: 62px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 62px;
    text-align: center;
}
.testing-edit-pcm-result{
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    border-width: 4px;
    box-sizing: content-box;
    transition: border-color 0.4s ease;
}
.testing-retake-test{
    background-color: #BD1E2C;
    color: white;
    border-radius: 40px;
    padding: 12px;
    font-size: 41px;
    text-align: center;
    line-height: 41px;
}
.next-section{
    order: 1;
}
.register-section{
    order: 2;
}
.sidetrip-mode{
    display: flex;
    position: fixed;
    background: red;
    color: white;
    width: 100%;
    justify-content: center;
    z-index: 10;
    margin: 0;
    font-size: 14px;
}
.sidetrip-disable-btn{
    cursor: pointer;
    font-weight: 600;
}
.testing-next{
    order: 2;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    border-width: 4px;
    box-sizing: content-box;
    transition: border-color 0.4s ease;
}
.testing-next-hlight{
    border-color: red;
}
.testing-prev{
    transform: rotate(180deg);
}
.testing-enable-practice{
    order: 1;
}
.lesson-position-activity-tag{
    display: block;
    position: absolute;
    z-index: 2200;
    bottom: 10px;
    right: 32px;
    color: #a3a0a087;
    font-size: 10px;
    cursor: pointer;
}
.lesson-position-activity-tag:hover{
    background-color: lightblue;
}
.lesson-description-feedback-exists{
    display: block;
    position: absolute;
    top: 0;
    left: -13px;
    color: blue;
}



@media only screen and (max-width:1024px)
{
    .testing-container{
        width: 400px;
        height: 540px;
        margin-top: -270px;
        margin-left: -200px;
    }
    .tc-slider{
        min-height: 90%;
        order: 2;
    }
    .tc-nav{
        min-height: 10%;
        order: 2;
        padding: 5px 0px;
    }
    .tc-nav-panel{
        border-radius: 0;
        width: 16%
    }
    .tc-nav-panel-subtitles{
        width: 84%;
        margin-left: 0;
    }
    .testing-wrap{
        order: 2;
        min-height: auto;
        width: 100%;
    }
    .testing-sidebar{
        min-width: 100%;
        min-height: 55px;
        max-height: 55px;
        order: 1;
        flex-flow: row nowrap;
    }
    :host, .testing-wrapper-slide{
        flex-flow: column nowrap;
    }
    .testing-sb-group{
        flex-flow: row;
    }
    .next-section{
        order: 2;
    }
    .register-section{
        order: 1;
    }
    .zoom-card-next {
        min-height: 40px;
        min-width: 40px;
    }
    .testing-edit-pcm-result, .testing-see-pcm-result, .testing-enable-practice, .testing-retake-test{
        font-size: 36px;
        line-height: 40px;
    }
    .sidetrip-mode{
        position: static;
    }
    .lesson-position-activity-tag {
        bottom: 4px;
        right: 2px;
    }
    .testing-retake-test{
        font-size: 26px;
        padding: 6px;
        line-height: 26px;
    }
}