<section class="test-slide-item custom-slide">
<div class="row common-div">
  <div class="col-2 left-side"><h1>{{data.position}}.</h1></div>

  <div class="col-10">

      <!-- <h2>{{data?.description}}</h2> -->

    <div class="row cust-row">

      <div class="col-12">
          <!--<h4>{{data?.description}}</h4> Click on the word that you hear. -->
          <h4>{{ 'clck_onthe_word' | translate }}</h4>
      </div>
    </div>

    <div class="row cust-row answer-div">
      <div class="col-4" *ngFor="let res of result">
          <p class="p_design" [ngClass]="res.isCorrect ? 'correct_answer': 'wrong_answer'">{{res?.answer}}<span class="float-right"><i class="fa" [ngClass]="res.isCorrect ? 'fa-check': 'fa-times'" aria-hidden="true"></i></span></p>
      </div>
    </div>

    <div class="row cust-row word-row">
      <div class="col-4" *ngFor="let word of words">
          <p class="p_design" (click)="getAnswer(word.title)">{{word.title}}</p>
      </div>
    </div>

    <!-- <div *ngIf="isResult" class="row">
      <div class="col-12">
          <p class="p_design">Right : <span>{{count}}</span></p>
      </div>
      <div class="col-12">
          <p class="p_design wrong">Wrong : <span>{{card.length - count}}</span></p>
      </div>
    </div> -->

  </div>
</div>
</section>
