.testing-main-block{
    display: flex;
    flex-flow: column;
    .cust-row{
        display: flex;
        flex: 1;
        max-height: 90px;
    }
}
.custom-slide{
    justify-content: normal;
}

.left-side{
    display: flex;
    flex-flow: column;
    position: relative;
    box-shadow: 1px 1px 3px #777;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 4px 0 0 4px;
    z-index: 9;
    background-color: #EFEFEF;
}

.common-div{
    max-height: 470px;
    height: 100%;
    width: 100%;
}

.cust-row{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
    h4{
        margin: 20px 0;
        float: left;
        font-weight: 800;
    }
}

.p_design{
    margin: 2px;
    border: 1px solid;
    padding: 5px;
    padding-bottom: 6px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #0071BD;
    color: #fff;
}

.wrong{
    background-color: #f8c0c0;
}

.word-row{
    position: relative;
    /* bottom: 0px; */
    padding: 20px 0;
    background-color: #F4F4F4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    order: 3;
}

.correct_answer{
    background-color: #4CFF00;
}

.wrong_answer{
    background-color: #FF4F5D;
}

.col-10{
    padding: 0;
}

.col-12{
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
}
.col-3{
    padding: 0;
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
}
.common-div>.col-12{
    margin: 0;
    padding: 0;
}
.header-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.repeat-button{
    font-size: 30px;
    color: #0071BD;
    cursor: pointer;
}
.spelling-content{
    display: flex;
    width: 100%;
    min-width: 100%;
    flex-flow: column;
    flex: 1;
    min-height: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}
.vert-mid{
    display: flex;
    position: relative;
    order: 1;
}
.testing-answers{
    background-color: transparent;
    order: 2;
}

@media only screen and (max-width:1024px){
    .col-10{
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }
    .col-2{
        display: none;
    }
    .col-3{
        padding: 0;
        max-width: 25%;
        flex: 0 0 25%;
    }
    .p_design{
        padding: 5px 2px;
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .cust-row h4 {
        margin: 4px 0;
        font-size: 14px;
    }

    .vert-mid{
        /*
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        */
    }

    .word-row {
        padding: 2px 0;
    }
    .test-slide-item .card-ar1-syllable {
        padding: 2px 1px;
        height: 45px;
        line-height: 1.1em;
        margin-right: 2px;
        margin-left: 2px;
        font-size: 32px;
    }
    .testing-vars{
        flex-flow: column wrap;
    }
    .var-item{
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
    .var-text{
        font-size: 30px;
    }
}



/*
Spelling Test CSS
*/

.word-cls span {
    float: none;
    display: inline-block;
}

.ques_span{
    display: block !important;
    position: relative;
    width: auto;
    height: 104px;
    //float: left;
    background-color: #C69C6D;
    color: white;
    border-color: #8E704F;
    border-style: solid;
    border-width: 2px;
    padding: 5px 7px;
    font-size: 72px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px 13px;
    height: 103px;
    line-height: 1.1em;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
}

.ques_ip{
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    padding-bottom: 1px;
    padding-top: 1px;
    color: white;
    background-color: rgb(114, 90, 63);
}

.card-ar1-digraph-input{
    background-color: rgb(114, 90, 63);
}

.answer-div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

