/***********************************************	OR3 block styling **************************************************/
.card-content-body-wrap-or3{
	justify-content: flex-start;
}
.or3-story-wrap{
	display: block;
    justify-content: space-evenly;
    min-height: 26%;
    align-items: center;
    width: 99.6%;
    padding: 10px;
    font-size: 28px;
    line-height: 1.1;
    margin-top: 2%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /*overflow: scroll;*/
    background-color: lightblue;
    z-index: 9999;
    box-shadow: 0 0 3px #777;
    padding-top: 17px;
    text-align: justify;
    -webkit-overflow-scrolling: touch;
}
.or3-story-wrap span{
	cursor: pointer;	
}
.or3-story-question-wrap{
    display: none;
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    font-size: 27px;
    line-height: 1.3;
    color: white;
    background-color: #C69C6C;
    align-items: center;
    justify-content: center;
}
.or3-question-word-input{
    display: inline-block;
    width: 100px;
    line-height: 1;
    text-align: center;
    color: black;
}
.card-content-body-wrap-or1 {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 12px;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:1024px)
{
	.or3-story-question-wrap {
        width: 100%;
        bottom: 0px;
        padding: 4px;
        font-size: 16px;
        position: relative;
        height: 28%;
        align-items: center;
        justify-content: center;
    }
	.or3-story-wrap {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 26px;
        line-height: 1.3;
        margin-top: 0;
        max-height: 72%;
        height: 72%;
        padding-top: 26px;
    }
    .card-content-body-wrap-or3{
        padding-bottom: 0;
    }

}