.card-block-wl1{

}
.card-block-wl1 h3{
    text-align: center;
    color: brown;
    height: 8%;
}
.words-columns{
    display: flex;
    flex-flow: row nowrap;
    height: 82%;
}
.words-list{
    display: block;
    position: relative;
    width: 42.5%;
}
.words-list span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s linear;
    width: 100%;
    height: 32px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    border-color: transparent;
}
.english-words{

}
.translations{
    
}
.translations span{
    cursor: pointer;
}
.word-background{
    display: block;
    position: absolute;
    top: 5.3%;
    left: 2%;
    width: 96%;
    height: 90%;
    background-color: cadetblue;
    z-index: 10;
    transform: skewX(-17deg);
    box-shadow: 0 0 2px #333;
    border-radius: 3px;
}
.word-text{
    display: block;
    position: absolute;
    z-index: 100;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 600;
    top: 0;
    line-height: 23px;
}
@keyframes hilighting {
    0%   {border-color: #ccffcc;}
    50%  {border-color: #00FF00;}
    100%   {border-color: #ccffcc;}
}
.translations span:hover, .hilight-word{
    transition: border-color 1s linear;
    animation-name: hilighting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.word-link-space{
    width: 15%;
}
.word-arrow{
    font-size: 26px;
    line-height: 0;
    transform: scale(2, 1.5);
}
.gsc-results{
    display: none;
    position: relative;
    min-height: 30%;
    width: 100%;
    margin-top: 65px;
}
.gsc-results span{
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 42px;
    color: white;
    line-height: 1.8em;
}
.gsc-result-right{
    background-color: #03cd03;
}
.gsc-result-wrong{
    background-color: lightcoral;
}

.card-description-wrap-ar2{
    display: none;
    position: relative;
    width: 100%;
    margin-top: 36px;
    text-align: center;
    font-size: 10px;
    z-index: 100;
    color: #C2272D;
}

/*        Mobile layout         */
@media screen and (max-width: 1024px) {
    .card-block-wl1 h3{
        font-size: 14px;
        margin-bottom: -2px;
    }
    .words-list span{
        height: 22px;
        font-size: 9px;
    }
    .word-text{
        line-height: 15px;
    }
    .word-arrow{
        line-height: 1.7;
    }
    .gsc-right-answer {
        width: 30px;
        font-size: 28px !important;
        margin-left: -15px !important;
    }
    .gsc-results {
        margin-top: 40px;
    }
    .gsc-results span {
        font-size: 26px;
        color: white;
        line-height: 1.6em;
    }
    .card-description-wrap-ar2 {margin-top: 4px;}
    .card-description-wrap-ar2{
        display: block;
    }
}