.cust-row{
   margin: 0; 
}

.header-div{
    h4{
        border-bottom: 3px solid rgb(110, 76, 48);
        padding: 7px;
        margin-bottom: 15px;
    }
}

.sentence{
    display: block;
    width: 95%;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: -60px;
    opacity: 0;
    transition: all 0.4s ease-in;
}
.sen-parts{
    display: flex;
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: center;
}
.sen-p{
    display: flex;
    border-style: solid;
    border-color: brown;
    border-radius: 4px;
    min-height: 80%;
    line-height: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    text-align: center;
    opacity: 0;
    transition: all 0.4s linear;
}
.sen-sn{
    border-style: none;
    font-size: 34px;
    font-weight: 600;
    max-width: 50px;
}
.showitem{
    opacity: 1;
}
.sen-ready-list{
    overflow: hidden;
    height: 260px;
}
.bs1-description{
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

@media only screen and (max-width:1024px)
{
    .cust-row {
        
    }

    .header-div{
        h4{
            border-bottom: 1px solid rgb(110, 76, 48);
            padding: 3px;
            margin-bottom: 5px;
            font-size: 15px;
        }
    }
    .sen-parts{
        min-height: 40px;
    }
    .sen-p{
        min-height: 100%;
        font-size: 10px;
    }
    .sen-ready-list{
        height: 90px;
    }
    .sentence{
        margin-top: 3px;
        font-size: 10px;
    }
}