
.word-block{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 100;
}

.word{
    font-size: 76px; 
}

.word-box, .phoneme-box, .sentence-box{
    display: flex !important;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease, opacity 0.3s ease;
    text-align: center;
    font-weight: 400;
    color: brown;
    margin-top: -10px;
}
.phoneme-box, .sentence-box{
    display: block;
}
.card-showdown-button{
    display: block;
    position: absolute;
    color: blue;
    font-size: 34px;
    left: 100%;
    top: 100%;
    margin-left: -60px;
    margin-top: -48px;
    cursor: pointer;
    text-align: center;
    z-index: 1000;
}
.card-showup-button{
    top: 0;
    margin-top: 0px;
}
.word-prev-button{
    left: 0%;
    margin-left: 5px;
}
.word-next-button{
    left: 100%;
    margin-left: -40px;
}
.word-next-button, .word-prev-button{
    top: 90%;
    margin-top: -20px;
}
// .idm-word span, .idm-meaning span {
//     color: #90278d;
//     text-transform: lowercase;
//     font-size: 15px;
//     border: 1px solid #a3daf1;
//     border-radius: 4px;
//     padding: 2px 11px;
// }
// .idm-native span, .idm-meaning-native span {
//     color: #50b9e6;
//     text-transform: lowercase;
//     font-size: 15px;
//     border: 1px dotted #bf83be;
//     border-radius: 4px;
//     padding: 2px 11px;
//     font-style: italic;
// }
// span.show-maining {
//     border: 3px solid #00a69c;
//     width: 57px;
//     font-size: 10px;
//     border-radius: 50%;
//     line-height: 13px;
//     padding: 9px 2px;
//     min-height: 53px;
//     background: #d9dada;
//     color: #c54753;
// }
.idm-word span, .idm-meaning span {
    color: #90278d;
    text-transform: lowercase;
    font-size: 30px;
    border: 1px solid #a3daf1;
    border-radius: 4px;
    padding: 2px 11px;
}
.idm-native span, .idm-meaning-native span {
    color: #50b9e6;
    text-transform: lowercase;
    font-size: 30px;
    border: 1px dotted #bf83be;
    border-radius: 4px;
    padding: 2px 11px;
    font-style: italic;
}
span.show-maining {
    border: 3px solid #00a69c;
    width: 100px;
    font-size: 10px;
    border-radius: 50%;
    line-height: 13px;
    padding: 9px 2px;
    min-height: 100px;
    background: #d9dada;
    color: #c54753;
}
span.show-maining span {
    font-size: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 30%;
    line-height: 22px;
    width: 100%
}
span.show-maining {
    position: relative;
}

@media only screen and (max-width:1024px)
{
   
    .word{
        font-size: 44px; 
    }
    .word-box{
        line-height: 1; 
    }   
    .sentence-header{
        margin-bottom: 10px;
    }
    .word-box-sentence{
        height: 84px;
        margin-bottom: 10px;
    }
    .word-box-sentence .word{
        line-height: 84px;
    }
    .word-next-button, .word-prev-button{
        margin-top: -25px;
    }
    .word-next-button{
        margin-left: -52px;
    }
    .card-showdown-button{
        width: 50px;
        height: 50px;
    }    
    .sample-sentence{
        font-size: 10px;
    }
    .sentence-defination{
        height: 50px;
        font-size: 12px;
    }
    .tranlsation-box{
        padding: 5px 30px;
    }
    .btn-translate{
        z-index: 9999;
    }
    .idm-word span, .idm-meaning span {
        font-size: 15px;        
    }
    .idm-native span, .idm-meaning-native span {
        font-size: 15px;
    }
    span.show-maining {
        width: 65px;
        font-size: 10px;
        min-height: 65px;       
    }
    span.show-maining span {
        font-size: 12px;        
    }
    .word-box, .phoneme-box, .sentence-box{       
        margin-top: -5px;
    }
}

