/***********************************************	SYP block styling **************************************************/

.card-content-body-wrap-syp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: #91CDC3;
}
.syp-card-picture{
	display: block;
    position: relative;
    width: 100%;
    height: 85%;
    top: 3%;
}
.syp-card-animation{
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.syp-card-picture img{
	display: block;
    position: relative;
    max-width: 80%;
    max-height: 100%;
    margin: auto;
}
.syp-card-animation-item{
	display: flex;
    position: relative;
    max-width: 18%;
    align-items: center;
}
.syp-card-letter{
	text-align: center;
    font-size: 110px;
    line-height: 2.4;
    color: brown;
}
.syp-card-init-desc{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    font-size: 19px;
    color: darkblue;
    line-height: 1.4em;
    padding: 10px;
    font-weight: 400;
    margin: 0;
    opacity: 0;
    overflow-y: auto;
    justify-content: flex-start;
    min-height: 20%;
    max-height: 85%;
    height: auto;
    margin-top: -70px;
}
.syp-card-init-desc p{
    margin: 0;
    margin-bottom: 0;
}
.hidden-desc{
    display: none;
}





/*        Mobile layout         */
@media screen and (max-width: 1024px) {
 
	.syp-card-picture{
	    height: 71%;
	    top: 9%;
	    font-size: 94px;
        line-height: 1.1;
        margin-top: -11px;
        height: auto;
        max-height: 71%;
	}
	.syp-description{
		position: relative;
	    margin-top: 24px;
	    padding: 0px 3px;
        line-height: 1;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
	}
    .syp-card-init-desc{
        font-size: 10px;
        line-height: 1.2;
    }
    .syp-card-init-desc p{
        padding: 0;
        margin: 0;
    }
    .card-content-body-wrap-syp {
        justify-content: space-between;
    }

}