<div class="book-container" id='main-app-container'>

		
        <div id='page-is-loading-screen' style='margin-top: 50px;' [hidden]="!page_is_loading_screen">{{ 'loading' | translate }}<img src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMiAzMic+PGxpbmVhckdyYWRpZW50IGlkPSdGYXN0TG9hZGluZ0luZGljYXRvci1saW5lYXJHcmFkaWVudCcgZ3JhZGllbnRVbml0cz0ndXNlclNwYWNlT25Vc2UnIHgxPScxLjc4MDQnIHkxPScxNi4wMzc5JyB4Mj0nMzAuMTQzOScgeTI9JzE2LjAzNzknPjxzdG9wIG9mZnNldD0nMC40MTY5JyBzdG9wLWNvbG9yPScjQ0RDRkQyJy8+PHN0b3Agb2Zmc2V0PScwLjkzNzYnIHN0b3AtY29sb3I9J3JnYmEoMjQ4LDI0OCwyNDksMCknLz48L2xpbmVhckdyYWRpZW50PjxjaXJjbGUgY3g9JzE2JyBjeT0nMTYnIHI9JzEyLjcnIHN0eWxlPSdmaWxsOiBub25lOyBzdHJva2U6IHVybCgjRmFzdExvYWRpbmdJbmRpY2F0b3ItbGluZWFyR3JhZGllbnQpOyBzdHJva2Utd2lkdGg6IDI7Jz48L2NpcmNsZT48L3N2Zz4=' alt='' /></div>
        <div id='main-app-screen' class="book-wrap" [hidden]="!main_app_screen">
            
            <div class='main-app-wrapp'>

                <div class='top-and-slide-container-wrap'>
                    <!-- Sidetrip mode enabled message -->
                    <div class='row sidetrip-mode' *ngIf='!global_recorder' style='background-color: blue;'>
                        <span class='sidetrip-message'>{{ 'mic_disabled' | translate }}</span>
                    </div>
                    <!-- Sidetrip mode enabled message -->
                    <div class='row sidetrip-mode' *ngIf='sidetripmode'>
                        <span class='sidetrip-message'>{{ 'sidetrip_mode' | translate }}<span class='sidetrip-disable-btn' (click)="disableSidetrip($event)">&nbsp;&nbsp;&nbsp;{{ 'here' | translate }}</span>.</span>
                    </div>

                    <!--     Top Toolbar     -->
                    <div class='book-top-toolbar noselect'>

                        <!--    Lessons App Top Toolbar      -->

                        <!--    Menu open button    -->
                        <span class='tool-sidebar-open-icon-top' *ngIf='!show_tool_pages_list' (click)='showToolPageListMenu($event)'>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>

                        <span class='top-toolbar-rec' [ngClass]="{'blinkhighlight': blinkrec}">
                            <span class='top-toolbar-rec-icon card-content-rec-button' title="{{ 'rec_btn' | translate }}"
                                (mousedown)="recDown()" (touchstart)="recDown()" (mouseup)="recUp()" (touchend)="recUp()">
                                <span class='top-toolbar-rec-redcircle' *ngIf='rec_toggle && recorder.recording_started'></span>
                            </span>
                        </span>
                        <span class='top-toolbar-listen' (click)='playStart($event);' title="{{ 'listen_btn' | translate }}"
                             [ngClass]="{'blinkhighlight': blinkplay}"></span>
                        <span class='top-toolbar-repeat' (click)='repeat($event);' title="{{ 'repeat_btn' | translate }}"></span>

                    </div><!--     Top Toolbar     -->

                    <!--  Header  -->
                    <div class='zoom-frame-header zoom-frame-header-desktop'>{{ global_header }}</div>
                    <div class="zoom-frame-header zoom-frame-header-mobile">
                        <div class='inner-frame-header' [ngClass]="{'inner-frame-header-full': !global_start}">{{ global_header }}</div>
                        <span class='zoom-card-sequence-buttons-mobile' [hidden]="!global_start">

                            <!-- <span class='zoom-card-sequence-hint' (click)='hint();'></span> -->
                            <span class='zoom-card-sequence-goodbad' *ngIf='rui_button_goodbad' [ngClass]="{'blinkhighlight': blinkgoodbad}">
                                <span class='zoom-card-sequence-good zoom-card-sequence-good-mb' (click)='good($event);' title="{{ 'good_btn' | translate }}"></span>
                                <span class='zoom-card-sequence-bad zoom-card-sequence-bad-mb' (click)='bad($event);' title="{{ 'bad_btn' | translate }}"></span>
                            </span>
                            <span class='zoom-card-sequence-clear zoom-card-sequence-clear-mb' *ngIf='rui_button_clear' (click)='clear($event);' title="{{ 'clear_input' | translate }}"></span>
                            <span class='zoom-card-sequence-rule' *ngIf='rui_button_rule' (click)='rule($event);' title="{{ 'rule_input' | translate }}" [ngClass]="{'blinkhighlight': blinkrule}"></span>
                            <span class='zoom-card-sequence-hint zoom-card-sequence-hint-mb' *ngIf='rui_button_hint' (click)='hint($event);' title="{{ 'show_hint' | translate }}"></span>
                            <span class='zoom-card-sequence-prev zoom-card-sequence-prev-mb' *ngIf='rui_button_prev' (click)='prev($event);' title="{{ 'move_to_prev' | translate }}"></span>
                            <span class='zoom-card-sequence-enter zoom-card-sequence-enter-mb' *ngIf='rui_button_enter' (click)='enter($event);' title="{{ 'enter_answer' | translate }}" [ngClass]="{'blinkhighlight': blinkenter}"></span>
                            <span class='zoom-card-next zoom-card-next-mobile' (click)='moveNext($event)' title="{{ 'move_to_next' | translate }}" [ngClass]="{'blinkhighlight': blinknextnavbtn}"></span>
    
                        </span>
                        <!-- Card Sequence buttons for mobile layout -->
                    </div>
                    <!--  Header  -->

                    <!--     Container for slides    -->
                    <div class='book-slides-container'  (swipeleft)='moveNext()' (swiperight)='movePrev()'>

                        <div class='zoom-frame noselect' id='card_placeholder'>

                            <!-- Zoom card body -->
                            <div class='zoom-card-body card-blocks-container' [hidden]="show_notebook || show_grammar || show_testing">
        						<ng-template app-card></ng-template>
                            </div><!-- Zoom card body -->

                            <!-- Notebook   -->
                            <app-notebook [show]="show_notebook" [scale]="scale" [hidden]="!show_notebook" (closenotebook)="onCloseNotebook()"></app-notebook>

                            <!-- Grammar   -->
                            <app-grammar [show]="show_grammar" [scale]="scale" [hidden]="!show_grammar"></app-grammar>

                            <!-- Testing -->
                            <app-showtesting [show]="show_testing" [scale]="scale" [hidden]="!show_testing" (closetesting)="onCloseTesting()"></app-showtesting>

                            <!-- Start Lesson Screen -->
                            <span class='main-app-start-lesson-screen' *ngIf="show_start_screen && !show_course_expire_msg">
                                
                                <span class='main-app-start-lesson-header'>
                                    <span class='main-app-start-ltkicon-wrap'>
                                        <i class='main-app-start-ltkicon'></i>
                                        LTK
                                    </span>
                                    <span class='main-app-start-ltkurl'>
                                        
                                    </span>
                                </span>
                                <span class='main-app-start-lesson-desc'>
                                    <h2>{{ 'welcome_to_ltk' | translate }}</h2>
                                    <h2>{{ 'lets_begin' | translate }}</h2>
                                </span>
                                <span class='main-app-start-lesson-btn'>
                                    <button class='main-app-start-btn' (click)='startLesson($event)'>{{ 'lstart' | translate }} <i class='main-app-start-lesson-icon'></i></button>
                                </span>
                            </span>

                            
                            <app-course-expire-msg [hidden]="!show_start_screen || !show_course_expire_msg"></app-course-expire-msg>
        

                            <!-- Finish Lesson Screen -->
                            <span class='main-app-finish-lesson-screen'>
                                <span class='finish-lesson-label'>
                                    <span>{{ 'you_finish' | translate }}</span>
                                    <span>{{ 'the' | translate }}</span>
                                    <span>{{ 'lesson' | translate }}</span><br>
                                    <a href='/home'> < {{ 'home_link' | translate }}</a>
                                </span>
                            </span>

                            <!-- Lesson not complete Screen -->
                            <span class='lesson-not-complete-screen'>
                                <span class='finish-lesson-label'>
                                    <span>{{ 'u_n_complete' | translate }}</span>
                                    <span>{{ 'the' | translate }}</span>
                                    <span>{{ 'lesson' | translate }}</span><br>
                                    <a href='{{ repeat_url }}'> < {{ 'repeat_link' | translate }}</a> <a href='/home'>  {{ 'home_link' | translate }}</a>
                                </span>
                            </span>

                            <!-- Card lesson position activity tag -->
                            <span class='lesson-position-activity-tag' 
                                [hidden]="card_descriptor.lesson==0&&card_descriptor.position==0&&card_descriptor.activity==''" 
                                title="{{ 'feedback_btn' | translate }}"
                                (click)="onShowFeedback($event)">
                                #{{ card_descriptor.lesson }}-{{ card_descriptor.position }}:{{ card_descriptor.activity }}
                                <span [hidden]="current_feedback_list.length < 1" class="lesson-description-feedback-exists">
                                    <i class="fas fa-check-double"></i>
                                </span>
                            </span>

                        </div>

                    </div><!--     Container for slides    -->

                    

                </div>


                <!-- Right tools window -->
                <div class='tool-window tool-window-right noselect' *ngIf='show_tool_pages_list'>

                    <!-- Card Sequence Buttons -->
                    <span class='zoom-card-sequence-buttons'>
                        <span class='zoom-card-sequence-buttons-wrap'>
                            <span class='zoom-card-sequence-goodbad' *ngIf='rui_button_goodbad' [ngClass]="{'blinkhighlight': blinkgoodbad}">
                                <span class='zoom-card-sequence-good zoom-card-sequence-good-dsk' (click)='good($event);' title="{{ 'good_btn' | translate }}"></span>
                                <span class='zoom-card-sequence-bad zoom-card-sequence-bad-dsk' (click)='bad($event);' title="{{ 'bad_btn' | translate }}"></span>
                            </span>
                            <span class='zoom-card-sequence-clear zoom-card-sequence-clear-dsk' *ngIf='rui_button_clear' (click)='clear($event);' title="{{ 'clear_input' | translate }}"></span>
                            <span class='zoom-card-sequence-rule' *ngIf='rui_button_rule' (click)='rule($event);' title="{{ 'rule_input' | translate }}" [ngClass]="{'blinkhighlight': blinkrule}"></span>
                            <span class='zoom-card-sequence-hint zoom-card-sequence-hint-dsk' *ngIf='rui_button_hint' (click)='hint($event);' title="{{ 'show_hint' | translate }}"></span>
                            <span class='zoom-card-sequence-prev zoom-card-sequence-prev-dsk' *ngIf='rui_button_prev' (click)='prev($event);' title="{{ 'move_to_prev' | translate }}"></span>
                            <span class='zoom-card-sequence-enter zoom-card-sequence-enter-dsk' *ngIf='rui_button_enter' (click)='enter($event);' title="{{ 'enter_answer' | translate }}" [ngClass]="{'blinkhighlight': blinkenter}"></span>
                        </span>       
                    </span>
                    <!-- Card Sequence Buttons -->

                    <!-- Card Next Button -->
                    <span class='zoom-card-next-button'>
                        <span class='zoom-card-next-button-wrap' title="{{ 'move_to_next' | translate }}">
                            <span class='zoom-card-next' (click)='moveNext($event)' [ngClass]="{'blinkhighlight': blinknextnavbtn}"></span>
                        </span>       
                    </span>
                    <!-- Card Next Button -->

                </div>
                <!-- /Right tools window -->


            </div>

            <!--    Bottom description box    -->
            <div class='bottom-description-box'>
                {{ global_desc }}
            </div>
            <!--    /Bottom description box    -->

        </div>




        <!--  Menu background   -->
        <app-msmenu (sidetripmode)="onSidetripmode($event)"
                    (closemenu)="onCloseMenu()"
                    (showsettings)="onShowSettings()"
                    (showfeedback)="onShowFeedback()"
                    (shownotebook)="onShowNotebook()"
                    (showgrammar)="onShowGrammar()"
                    (showtesting)="onShowTesting()"
                    (showltkmenu)="onShowLtkMenu()"
                    (showhelp)="showHelp()"
                    [lu]="current_lesson_title"
                    [last_uncomplete] = "student.lu"
                    [show_tool_pages_list]="show_tool_pages_list"
                    [show_menu_open_button]="false"
                    *ngIf="main_app_screen"></app-msmenu>
        <!-- /Menu background   -->

        

        
    <!--    Settings window   -->
    <app-settings [show]='show_setting_modal' 
                  [hidden]="!show_setting_modal"
                  [versetting_show]="false" 
                  (closesettings)="onCloseSettings()"></app-settings>

    <!--    Feedback window   -->
    <app-feedback  [show]='show_feedback_modal' 
                   [hidden]="!show_feedback_modal"
                   [card_descriptor]="'N'+card_descriptor.lesson+'-'+card_descriptor.position+'-'+card_descriptor.activity"
                   [prev_feedbacks]="current_feedback_list"
                   (closefeedback)="onCloseFeedback()"></app-feedback>

    <!--    Warn not complete card window   -->
    <app-warncomplete [hidden]="!show_warncomplete_modal"
                      (closewarncomplete)="onCloseWarncomplete()"
                      (gonextcard)="onGoNextCard()"></app-warncomplete>

    <!-- Help tooltips -->
    <app-help [hidden]="!hs.mask"></app-help>
    <app-help-tooltip [pos]="11" [audio]="'_SHDYCL'" [selector]="'.tool-sidebar-lesson-header'" [content]="'help_lesson_header_desc'" [align]="'align-top-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="1" [audio]="'_SHYCCSOA'" [selector]="'.tool-sidebar-options-button'" [content]="'help_option_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="2" [audio]="'_SUTBTACAC'" [selector]="'.tool-sidebar-keyboard-button'" [content]="'help_chat_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="12" [audio]="'_SESM'" [selector]="'.tool-sidebar-sidetrip-button'" [content]="'help_sidetrip_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="13" [audio]="'_SEFM'" [selector]="'.tool-sidebar-fullscreen-max'" [content]="'help_fullscreen_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="14" [audio]="'_SSWNSCEWD'" [selector]="'.tool-sidebar-notebook-button'" [content]="'help_notebook_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="15" [audio]="'_SCLTOTEST'" [selector]="'.tool-sidebar-testing-button'" [content]="'help_testing_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="16" [audio]="'_SSRFELAE'" [selector]="'.tool-sidebar-mail-button'" [content]="'help_reports_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="17" [audio]="'_SLYFOBALL'" [selector]="'.tool-sidebar-feedback-btn'" [content]="'help_feedback_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="18" [audio]="''" [selector]="'.tool-sidebar-help-button'" [content]="'help_ltksdbar_desc'" [align]="'align-center-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="19" [audio]="'_SETL'" [selector]="'.tool-sidebar-exit-button'" [content]="'help_exitsdbar_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="20" [audio]="'_SALGO'" [selector]="'.tool-sidebar-ltk-button'" [content]="'help_helpsdbar_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="3" [audio]="'_SMFTTNAOS'" [selector]="'.zoom-card-next-button-wrap'" [content]="'help_next_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="5" [audio]="'_SBTL'" [selector]="'.main-app-start-btn'" [content]="'help_start_btn_desc'" [align]="'align-center-bottom'"></app-help-tooltip>
    <app-help-tooltip [pos]="6" [audio]="'_SLTWYHR'" [selector]="'.top-toolbar-listen'" [content]="'help_listen_btn_desc'" [align]="'align-center-top'"></app-help-tooltip>
    <app-help-tooltip [pos]="7" [audio]="'_SHTBTRYV'" [selector]="'.card-content-rec-button'" [content]="'help_rec_btn_desc'" [align]="'align-top-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="8" [audio]="'_SUTBTRLI'" [selector]="'.top-toolbar-repeat'" [content]="'help_repeat_btn_desc'" [align]="'align-top-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="21" [audio]="'_SSSTVITLO'" [selector]="'.bottom-description-box'" [content]="'help_subtitles_desc'" [align]="'align-center-bottom'"></app-help-tooltip>
    <!--<app-help-tooltip [pos]="22" [audio]="''" [selector]="'.bookwrapperactive .card-block-item'" [content]="'help_lessoncard_desc'" [align]="'align-center-bottom'"></app-help-tooltip>-->
    <app-help-tooltip [pos]="4" [audio]="'_SCOTEBETY'" [selector]="'.zoom-card-sequence-enter-dsk'" [content]="'help_enter_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="10" [audio]="'_SGB1AOS'" [selector]="'.zoom-card-sequence-prev-dsk'" [content]="'help_prev_btn_desc'" [align]="'align-bottom-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="23" [audio]="'_SDTHTHSIA'" [selector]="'.zoom-card-sequence-hint-dsk'" [content]="'help_hint_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="25" [audio]="'_SUBSTIACA'" [selector]="'.zoom-card-sequence-good-dsk'" [content]="'help_good_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="26" [audio]="'_SUBSTIAIA'" [selector]="'.zoom-card-sequence-bad-dsk'" [content]="'help_bad_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="27" [audio]="'_SRPI'" [selector]="'.zoom-card-sequence-clear-dsk'" [content]="'help_clear_btn_desc'" [align]="'align-center-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="28" [audio]="'_SCOTEBETY'" [selector]="'.zoom-card-sequence-enter-mb'" [content]="'help_enter_btn_desc'" [align]="'align-center-bottom'"></app-help-tooltip>
    <app-help-tooltip [pos]="29" [audio]="'_SGB1AOS'" [selector]="'.zoom-card-sequence-prev-mb'" [content]="'help_prev_btn_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="30" [audio]="'_SDTHTHSIA'" [selector]="'.zoom-card-sequence-hint-mb'" [content]="'help_hint_btn_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="31" [audio]="'_SUBSTIACA'" [selector]="'.zoom-card-sequence-good-mb'" [content]="'help_good_btn_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="32" [audio]="'_SUBSTIAIA'" [selector]="'.zoom-card-sequence-bad-mb'" [content]="'help_bad_btn_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="33" [audio]="'_SRPI'" [selector]="'.zoom-card-sequence-clear-mb'" [content]="'help_clear_btn_desc'" [align]="'align-bottom-left'"></app-help-tooltip>
    <app-help-tooltip [pos]="34" [audio]="'_SMFTTNAOS'" [selector]="'.zoom-card-next-mobile'" [content]="'help_next_btn_desc'" [align]="'align-bottom-right'"></app-help-tooltip>
    <app-help-tooltip [pos]="24" [audio]="'_SWISTTSMP'" [selector]="'.sidetrip-mode'" [content]="'help_sidetrip_msg_desc'" [align]="'align-center-top'"></app-help-tooltip>

    <!--    Snooze window    -->
    <app-snooze [hidden]="!show_snooze"
                (continue)="continueLesson()"></app-snooze>
       
    <!--    LTK Menu   -->
    <app-ltkmenu [show]='show_ltk_menu' [hidden]='!show_ltk_menu' (closeltkmenu)='onCloseLtkMenu()' [student]="student"></app-ltkmenu>
     
        
</div>