<section class="test-slide-item">

    <div class="row common-div">
        <!--<div class="col-2 left-side"><h1>{{data.position}}.</h1></div>-->
        
        <div class="col-12">
        
            <!-- <h2>{{data?.description}}</h2> -->
        
            <div class="row cust-row">
                <div class="col-12">
                    <h4>{{ data?.description | translate }}, {{ 'level' | translate }} {{ data?.break }}</h4>
                    <!--<h4>{{ 'chs_thebest_word' | translate }}</h4>-->
                </div>
            </div>
        
            <!-- <div class="row cust-row">
                <div class="col-12"> -->
                    <h5>{{card?.sentence}}</h5>
                <!-- </div>
            </div> -->

            <div class="row cust-row">
                <div class="col-4" *ngFor="let res of result">
                    <p class="p_design" [ngClass]="res.isCorrect ? 'correct_answer': 'wrong_answer'">{{res?.answer}}<span class="float-right"><i class="fa" [ngClass]="res.isCorrect ? 'fa-check': 'fa-times'" aria-hidden="true"></i></span></p>
                </div>
                <div class="col-4" *ngFor="let res of result">
                    <p class="p_design" [hidden]="res.isCorrect" [ngClass]="!res.isCorrect ? 'correct_answer': 'wrong_answer'">{{res?.expected}}<span class="float-right"><i class="fa" [ngClass]="!res.isCorrect ? 'fa-check': 'fa-times'" aria-hidden="true"></i></span></p>
                </div>
            </div>
        
            <div class="row cust-row word-row">
                <div class="col-4 var-item" *ngFor="let word of card?.variants">
                    <p class="p_design var-text" (click)="getAnswer(word)">{{word}}</p>
                </div>
            </div>
        
        </div>
    </div>

</section>
