<section class="test-slide-item">

    <!-- <div class="row cust-row">
        <div class="col-12">
            <h2>{{data?.description}}</h2>
        </div>
      </div>
  
    <div class="row cust-row">
      <div class="col-12">
          <h4>{{card?.sentence}}</h4>
      </div>
    </div>

    <div class="row cust-row">
      <div class="col-4" *ngFor="let word of card?.variants">
          <p class="p_design" (click)="getAnswer(word)">{{word}}</p>
      </div>
    </div>
    
    <div class="row answer">
      <div *ngIf="isAnswered == 1 ? true: false" class="col-12">
          <p class="p_design">Right Answer</p>
      </div>
      <div *ngIf="isAnswered == 0 ? true: false" class="col-12">
          <p class="p_design wrong">Wrong Answer</p>
      </div>
    </div> -->

    <div class="row common-div">
        <div class="col-2 left-side"><h1>{{data.position + 1}}.</h1></div>
        
        <div class="col-10">
        
            <!-- <h2>{{data?.description}}</h2> -->
        
            <div class="row cust-row">
                <div class="col-12">
                    <h4>{{data?.description}}</h4>
                </div>
            </div>
        
            <!-- <div class="row cust-row">
                <div class="col-12"> -->
                    <h5>{{card?.sentence}}</h5>
                <!-- </div>
            </div> -->

            <div class="row cust-row">
                <div class="col-4" *ngFor="let res of result">
                    <p class="p_design" [ngClass]="res.isCorrect ? 'correct_answer': 'wrong_answer'">{{res?.word}}<span class="float-right"><i class="fa" [ngClass]="res.isCorrect ? 'fa-check': 'fa-times'" aria-hidden="true"></i></span></p>
                </div>
            </div>
        
            <div class="row cust-row word-row">
                <div class="col-4" *ngFor="let word of card?.variants">
                    <p class="p_design" (click)="getAnswer(word)">{{word}}</p>
                </div>
            </div>
        
            <!-- <div *ngIf="isResult" class="row">
            <div class="col-12">
                <p class="p_design">Right : <span>{{count}}</span></p>
            </div>
            <div class="col-12">
                <p class="p_design wrong">Wrong : <span>{{card.length - count}}</span></p>
            </div>
            </div> -->
        
        </div>
    </div>

</section>
