
.card-block-item{
    display: block;
    position: absolute;
    width: 98%;
    max-width: 1000px;
    /* height: 100%; */
    background-color: white;
    left: 1%;
    top: 92px;
    /*box-shadow: 0 0 3px #4c4c4c;*/
    user-select: none;
}
.card-style-obj-left, .card-style-obj-right, .card-style-obj-single {
    left: 50%;
    display: block;
    width: 600px;
    height: 444px;
    margin-top: -222px;
    margin-left: -301px;
    overflow: hidden;
    top: 50%;
    box-shadow: 0 0 2px #000;
    padding: 5px 5px;
}
.book-wrapper-single, .book-wrapper-slide{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.book-wrapper-slide{
    transition: all 0.64s ease;
}
.card-item-navigation-prev, .card-item-navigation-next {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: green;
    opacity: 0;
    cursor: pointer;
}


.card-content-body-wrap-ar2, .card-syllables-body-wrap-ar2{
    /*display: block;
    
    margin: auto;
    margin-top: 0px;
    width: 200px;*/
    z-index: 100;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
}
.card-syllables-body-wrap-ar2{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.card-content-body-btn-wrap{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    z-index: 100;
}
.card-content-body-btn-wrap .btn{
    margin: 0 4px;
}
.card-description-wrap-ar2{
    display: none;
    position: relative;
    width: 100%;
    margin-top: 36px;
    text-align: center;
    font-size: 18px;
    z-index: 100;
    color: #C2272D;
}

.card-ar2-syllable{
    display: block;
    position: relative;
    width: auto;
    height: 104px;
    float: left;
    background-color: #C69C6D; color: white;
    border-color: #8E704F;
    border-style: solid;
    border-width: 2px;
    padding: 5px 7px;
    font-size: 72px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 10px;
    line-height: 1.1em;
    cursor: pointer;
}
.card-ar2-syllable-1{
    cursor: pointer;
}
.card-ar2-syllable-dash{
    border: none;
    width: 17px;
    background-color: transparent;
    padding: 0;
}
.card-ar2-syllable-dash span{
    display: none;
    width: 100%;
    height: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    margin-top: 0;
}
.cardar2syllabledashspan{
    display: block !important;
}
.card-ar2-syllable-dash:hover span{
    display: block; 
}
.card-ar2-syllable-2{
    margin-left: 0;
    cursor: pointer;
}
.card-item-answer-ar2{
    top: 30%;
}
.card-item-answer-ar2 label{
    margin-top: 20px;
}
.card-item-content-ar2{
    top: 0%;
    padding-top: 0;
}
.card-item-ar2-syllable-wrap{
    display: block;
    position: relative;
    width: 250px;
    min-width: 250px;
    margin: auto;
    margin-top: 28px;
}
.card-content-body-wrap-ccc {
    p, div, span, h1, h2, h3, h4, h5, h6{
        padding: 5px;
        text-align: center;
    }
}
.sen-ready-list {
    .sen-begin, .sen-variant{
        text-decoration: underline;
    }
}


@media only screen and (max-width:1024px)
{
    .card-ar2-syllable{
        height: 40px;
        font-size: 23px;
        line-height: 1em;
    }
    .card-syllables-body-wrap-ar2{
        margin-top: 10px !important;
        height: 43px;
        padding: 0;
    }
    .card-syllables-body-wrap-ar2 .card-ar2-syllable{
        margin: 0;
    }
    .card-syllables-body-wrap-ar2 .card-ar2-syllable-dash{
        top: -7px;
        margin: 0;
        padding: 0;
        height: 2px;
    }
    .card-syllables-body-wrap-ar2 .card-ar2-syllable-dash span{
        margin-top: 25px;
    }
    .card-content-body-btn-wrap{
        margin-top: 5px!important;
    }
    .card-description-wrap-ar2 {margin-top: 4px;}
    .card-description-wrap-ar2{
        display: block;
    }

}

.card-ar1-digraph-input{
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    padding-bottom: 1px;
    padding-top: 1px;
    color: white;
}
.card-ar1-syllable {
    padding: 5px 4px;
    height: 103px;
    line-height: 1.1em;
    margin-right: 3px;
    margin-left: 3px;
}
.card-content-body-wrap-ar2 .card-ar1-syllable{
    cursor: default;
}
.card-ar1-syllable-dash span{
    border-color: transparent;
}
.card-ar1-right-answer{
    opacity: 0;
    transition: opacity 0.4s ease;
    cursor: default;
}
.card-content-ar1-answer{
    margin-top: 10px;
}
.card-content-ar1-word{
    /*opacity: 0;*/
    transition: opacity 0.2s ease;
}
@media screen and (max-width: 1024px) {
    .card-ar1-digraph-input {
        width: 30px;
        margin-top: -4px;
    }
    .card-ar1-syllable {
        line-height: 1em;
    }
}



.bw1-block{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    z-index: 1000;
    padding: 0px 63px;
    margin-top: 50px;
}

.bw1-description{
    display: none;
    font-size: 12px;
    color: #C2272D;
    line-height: 1;
}
.bw1-word, .bw1-letter{
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2em;
    background-color: #C69C6D;
    color: white;
    padding: 0px 11px;
    /* padding-bottom: 10px; */
    border-style: solid;
    border-width: 1px;
    border-color: #8E704F;
    color: white;
    cursor: pointer;
    height: 84px;
    position: relative;
}
@media only screen and (max-width:1024px)
{
    
    .bw1-block {
        padding: 0px 0px;
        margin-top: 3px;
    }
    .bw1-word, .bw1-letter {
        font-size: 28px;
        padding: 0px 14px;
        padding-bottom: 0;
        height: 39px;
    }
    .bw1-user-input input {
        font-size: 21px;
    }
    .bw1-expected-enter{
        margin-top: 0;
    }
    .bw1-description{
        display: block;
    }

}

.blinkhighlight{
    opacity: 0.6 !important;
    background-color: rgba(100, 255, 100, 0.9) !important;
}
.or3-question-word-input{
    display: inline-block;
    width: 100px;
    line-height: 1;
    text-align: center;
    color: black;
}
.playsentence-hilight{
    background-color: #00ADEF;
}
.hilight-pronounce-letter{
    background-color: #00ADEF;
    display: inline-block;
    position: relative;
    height: 100%;
}
    

@media screen and (max-width: 1024px) {
    .card-block-item {
        box-shadow: 0 0 3px #bbbbbb;
    }
    .card-style-obj-single {
        width: 400px;
        height: 200px;
        margin-top: -100px;
        margin-left: -200px;
    }
    .bw1-description{
        display: block;
        margin-top: 10px;
    }
    .bw1-word, .bw1-letter {
        font-size: 28px;
        padding: 0px 14px;
        padding-bottom: 0;
        height: 39px;
    }
}

.card-al1-letter{
    padding: 0;
}

@media screen and (min-width:1025px){
    .card-content-body-wrap-al1,
    .card-content-body-wrap-al2,
    .card-content-body-wrap-ar1,
    .card-syllables-body-wrap-ar2{
        display: block;
        position: relative;
        max-width: 600px;
        margin: auto;
        padding-top: 90px;
        z-index: 100;
        text-align: center;
    }
    .card-content-body-wrap-ar2{
        padding-top: 48px;
    }
    .card-syllables-body-wrap-ar2{
        padding-top: 6px;
    }
    .card-description-wrap-al1, .card-hint-wrap-al1{
        display: none;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 13px;
        font-size: 18px;
        z-index: 100;
    }
    .card-hint-wrap-al1{
        margin-top: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    .card-content-body-wrap-ar2 {
        min-width: 600px;
        max-width:600px;
        width:100%;
        text-align:center;
    }
    .card-content-body-wrap-al1 {
        padding: 0 2px;
    }
    .card-content-body-wrap-al1 > input {
        width: 65px;
        height: 65px;
        margin: 9px 10px;
    }
    .card-content-body-wrap-ar2 > .card-ar2-syllable, .card-syllables-body-wrap-ar2 > .card-ar2-syllable {
        float: none;
        display: inline-block;
    }
    .card-content-body-btn-wrap.card-content-ar1-answer span {
        text-align: center !important;
        float: none !important;
        display: block;
        margin-top: 29px;
    }

    .card-al2-letter, .card-al1-letter, .card-ar1-letter, .card-ar2-letter {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        float: none;
        background-color: #C69C6D; color: white;
        border-color: #8E704F;
        border-style: solid;
        border-width: 2px;
        margin: 0 20px;
        top: 32%;
        padding: 5px;
        font-size: 56px;
        font-weight: 400;
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .card-description-wrap-al1 span{
        display: block;
        position: relative;
        width: 100%;
    }
}
.card-ar2-syllable-dash {float: none !important;display: inline-block !important;padding: 3.5% 0; top: 35px; color: #C2272D;}

/*        Mobile layout         */

@media screen and (min-width:100px) and (max-width: 768px)
{
.card-content-body-wrap-al1 {padding-top: 0px !important;}
.card-content-body-wrap-ar2, .card-syllables-body-wrap-ar2 {text-align: center; margin-top:10px; min-width:100%; }
.card-ar2-syllable {float: none;display: inline-block;}
.card-content-body-btn-wrap {text-align: center;min-width: 100%;padding: 0 15px; margin-top:5px !important }
.card-ar2-syllable-dash {float: none !important;display: inline-block !important;padding: 5% 0;}

.card-content-body-wrap-al2 {text-align: center; margin-top:10px; min-width:100%;padding-top: 2px; width:100%;}
.card-al2-letter {float: none;display: inline-block;margin: 0 10px;height: 60px;width: 60px; font-size: 30px;}


.card-content-body-wrap-al1 {padding: 1px; text-align:center;}
.card-al1-letter {margin:3px;background-color: #C69C6D; color: white;border:1px solid #ccc; border-color: #8E704F; box-shadow: inset 1px 2px 3px rgba(0,0,0,.1);float: none !important;display: nline-block!important;}
.card-description-wrap-al1 {text-align: center;}

.card-content-body-wrap-ar2, .card-syllables-body-wrap-ar2 {margin-top: 0;text-align: center;}
.card-ar2-syllable.card-ar1-syllable {font-size: 24px;height: 39px;font-weight: 400;margin: 10px 2px;padding: 5px 10px;}
.card-ar1-digraph-input {padding: 0 !important;}
.card-content-ar1-answer {margin-top: 0;}
.card-description-wrap-ar2 {margin-top: 4px;}

.card-input-field-ar5 {width: 50px; height: 50px;}
.card-input-ar5 {height: 50px;}
.card-input-field-ar5 {width: 54px !important;height: 54px !important;padding: 1px !important;}
.card-content-hint3-ar5 {min-width: 100%;}
.card-content-hint3-letter-ar5 > span, .card-content-hint3-letter-ar5 { padding: 0 !important;width: 50px !important;}
.card-content-hint3-ar5 {min-width: 400px !important;/* margin: auto !important; */position: relative !important;left: 0 !important;right: 0 !important;
    transform: translatex(-43%) scale(.6);margin: 0 !important;top: 0px !important;text-align: center !important;}
.card-content-hint3-ar5 > span {float: none !important; display: inline-block !important;}
.card-input-field-ar5 {height: 60px !important;font-size: 39px !important;  width: 60px !important;}
.card-hint-buttons-wrap {margin-top:51px !important;}
.card-block-item.card-style-obj-single.card-block-ar6 {padding-bottom: 10px;}
.card-description-wrap-ar5 {margin-top: 0 !important;}
.card-block-item.card-style-obj-single.card-block-ar5 {}


.card-description-wrap-al2 {
    margin-top: 7px;
}


.book-container, .book-container>div {
    max-width: 100% !important;
}
.card-content-wrap-trace-tw1 {
    padding-top: 3.88% !important;
}

.card-content-body-wrap-al1{ 
        width: 100%;
        padding-top: 40px;
    }
    .card-al1-letter {
        width: 34px;
        height: 37px;
        font-size: 22px;
        text-align: center;
    }
}


@media screen and (max-width: 670px) {
    .card-content-body-wrap-al1{ 
        width: 100%;
        padding-top: 40px;
    }
} 

/* Responsive style from 769px  to 1024px */

@media screen and (min-width:769px) and (max-width:1024px)
{
.card-content-body-wrap-ar2.card-content-ar1-word, .card-syllables-body-wrap-ar2.card-content-ar1-word {    min-width: 100%;text-align: center; margin-top: 9px;}
.card-content-body-wrap-ar2.card-content-ar1-word .card-ar2-syllable, .card-syllables-body-wrap-ar2.card-content-ar-word .card-ar2-syllable{float: none;display: inline-block;  height: 40px !important;font-size: 27px;padding: 4px 6px !important;margin: 0 4px !important;   font-weight: 400;}
.card-ar1-digraph-input {padding: 0 !important;}
.card-content-body-btn-wrap.card-content-ar1-answer {padding-top: 20px; text-align: center;}
.card-content-body-btn-wrap.card-content-ar1-answer {text-align: center;min-width: 100%;padding-top: 0;}
.card-description-wrap-ar2 {margin-top: 21px;}
.card-content-body-btn-wrap.card-content-ar1-answer > span {float: none;display: inline-block;}
.card-content-body-wrap-al1 input {width: 35px; height:35px; background-color: #C69C6D; color: white; border: 1px solid #ccc; border-color: #8E704F; box-shadow: inset 1px 2px 3px rgba(0,0,0,.1);
margin: 3px 2px;display: inline-block;text-align:center;}
.card-content-body-wrap-al1 {text-align: center;padding: 6px 8px;}
.card-description-wrap-al1 {text-align: center;}    
.card-content-body-wrap-ar2, .card-syllables-body-wrap-ar2 {margin-top: 0px;}
.card-content-body-btn-wrap {min-width: 100%;text-align: center;margin-top: 23px;}

.card-content-body-wrap-ar2, .card-syllables-body-wrap-ar2 {min-width: 100%;text-align: center;}
.card-ar2-syllable.ng-scope {float: none;margin-top:0;  display: inline-block;}
.card-description-wrap-ar2 {margin-top: 15px;font-size: 17px;}
.card-ar2-syllable.card-ar2-syllable-dash.ng-scope {padding-top: 5%;}
.card-content-body-wrap-al2 {max-width: 100%;text-align: center;padding-top: 12px;}
.card-al2-letter {width: 50px;height: 50px;font-size: 23px !important;margin: 10px 7px; float: none;display: inline-block;font-weight: 400;}
.card-description-wrap-al2 {
    margin-top: 7px;
}
.card-hint-buttons-wrap > div { margin-bottom: 32px !important;margin-top: 18px;}
.card-input-field-ar5 { width: 60px  !important;height: 60px  !important;padding:2px !important;}   
.card-input-ar5.ng-pristine.ng-untouched.ng-valid.ng-empty {height: 56px !important;}
.card-hint-buttons-wrap {top: 122px !important; min-width: 400px;height: 40px !important;left: 0 !important;right: 0 !important;margin: auto !important;
}

.card-hint-buttons-wrap > div {margin: 5px; display: inline-block;max-width: 30%;}
.card-hint-buttons-wrap button {padding: 6px 20px;  font-size: 13px;}
.card-content-hint3-ar5 {max-width: 400px;left: -283% !important;right: 0 !important;margin: auto !important;width: 400px !important;text-align:center;transform: scale(.6);}
.card-content-hint3-ar5 > span {display: inline-block !important;float: none !important;width: auto !important;font-size: 17px !important;}
.card-input-ar5.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched {height: 56px !important;font-size: 42px !important;padding-bottom: 10px!important;}
.card-description-wrap-ar5 {padding-top: 7px;}
.card-input-ar5{height: 56px!important;font-size: 42px !important; padding:0px !important;}
    
}


.card-content-body-hint-al2{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
    min-height: 25px;
}
.card-content-body-hint-al2 span{
    display: inline-block;
    background-color: #C69C6D; color: white;
    margin: 0 10px;
    padding: 0px 9px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .card-description-wrap-al1{
        display: block;
        color: #C2272D;
    }
    .card-content-body-hint-al2 {
        font-size: 18px;
    }
}

.or4-question-variants{
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
}
.or4-correct-answer{
    display: block;
    float: left;
}
.or4-question-variants input {
    display: block;
    position: relative;
    margin: 0 20px;
    margin-right: 2px;
    width: 23px;
    height: 23px;
    float: left;
    /*top: 1px;*/
}
.or4-question-variants span{
    display: block;
    float: left;
}
.syp-card-init-desc p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {

    .syp-card-init-desc p{
        padding: 0;
        margin: 0;
    }
    .or4-question-variants input {
        margin: 0 13px;
        margin-right: 2px;
        width: 20px;
        height: 20px;
        float: left;
        /*top: -4px;*/
    }

}