
:host, .help-service-mask{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(104, 104, 252, 0.1);*/
    z-index: 1100;
    opacity: 1;
    justify-content: center;
    align-items: center;
    border-color: rgb(104, 104, 252);
    border-width: 6px;
    border-style: solid;
    overflow: hidden;
}
.help-label{
    display: block;
    position: absolute;
    width: 145px;
    height: 27px;
    color: white;
    background-color: rgb(104, 104, 252);
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    border-radius: 0 0 0 13px;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
}
.target-element{
    display: block;
    opacity: 0;
    position: absolute;
    background-color: rgba(50, 50, 54, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-top: -6px;
    margin-left: -6px;
}
.target-element:hover{
    opacity: 1;
}
.help-menu{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    width: 300px;
    min-height: 200px;
    color: #6868fc;
    background-color: white;
    border-color: #6868fc;
    border-width: 4px;
    border-style: solid;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    border-radius: 0 0 0 13px;
    right: -4px;
    top: -4px;
    cursor: pointer;
    z-index: 1110;
}
