<div class='tool-sidebar-background' [ngClass]="{'sbbackgroundop': show_tool_pages_list, 'ssbforlessons': !show_menu_open_button && !show_tool_pages_list}">

    <!--   Tool window Pages List -->
    <div class='tool-window tool-window-pages-list noselect' 
            [ngClass]="{'showtoolsidebar': show_tool_pages_list}"
            >

        <!--    Lesson App Activities Tools Sidebar      -->

        <!--    Lesson Header     -->
        <div class='tool-sidebar-lesson-header'>
            <span>{{ 'lesson' | translate }} <br> {{ lu }}</span>
        </div>

        <!--    Lesson sidebar controls     -->
        <div class='tool-sidebar-lesson-controls' style="overflow-y: auto">
            <div class='tool-sidebar-scroll-wrap' style="display: flex; flex-flow: column; width: 100%; min-height: 450px; height: 100%;" >
    		    <!--    Options     -->
    		    <span class='tool-sidebar-button tool-sidebar-options-button' (click)='showSettingsModal()' title="{{ 'settings' | translate }}"></span>
                <!--    Chatroom    -->
                <!--
    		    <span class='tool-sidebar-button tool-sidebar-keyboard-button' title="{{ 'chatroom' | translate }}" (click)='location("/start_messages")' ></span>
                -->
                <!--    Sidetrip    -->
    		    <span class='tool-sidebar-button tool-sidebar-sidetrip-button' (click)='toggleSidetrip()' title="{{ 'st_mode' | translate }}" [hidden]="router.url !== '/home'"></span>
                <!--    Fullscreen    -->
                <span class='tool-sidebar-button tool-sidebar-fullscreen-max' (click)='fullscreenMax()' title="{{ 'fullscreen_max' | translate }}" [hidden]="fullscreen_mode"></span>
                <span class='tool-sidebar-button tool-sidebar-fullscreen-min' (click)='fullscreenMin()' title="{{ 'fullscreen_min' | translate }}" [hidden]="!fullscreen_mode"></span>
                <!--    Notebook    -->
                <span class='tool-sidebar-button tool-sidebar-notebook-button' (click)='showNotebook()' title="{{ 'notebook' | translate }}"></span>
                <!--    Grammar    -->
                <!--
                <span class='tool-sidebar-button tool-sidebar-grammar-button' (click)='showGrammar()' title="{{ 'grammar' | translate }}"></span>
                -->
                <!--    Testing    -->
                <span class='tool-sidebar-button tool-sidebar-testing-button' (click)='showTesting()' title="{{ 'testing' | translate }}" [hidden]="router.url !== '/home'"></span>
    		    <!--    Reports    -->
    		    <span class='tool-sidebar-button tool-sidebar-mail-button' (click)='location("/reports")' title="{{ 'reports' | translate }}"></span>

                <!-- Feedback button -->
                <!--
                <span class='tool-sidebar-button tool-sidebar-feedback-btn' (click)='showFeedbackModal()' title="{{ 'feedback_btn' | translate }}">
                    //<i class='main-app-feedback-icon'></i>
                </span>
                -->
                <!-- /Feedback button -->

                <!--    Help    -->
                <!--
                <span class='tool-sidebar-button tool-sidebar-help-button' title="{{ 's_help' | translate }}"></span>
                -->
    		    <!--    Exit    -->
    		    <span class='tool-sidebar-button tool-sidebar-exit-button' (click)='logout($event)' title="{{ 'logout' | translate }}"></span>
                <!--    LTK    -->
                <!--
                <span class='tool-sidebar-button tool-sidebar-ltk-button' (click)='location("/home")' title="{{ 'home' | translate }}"></span>
                -->
                <span class='tool-sidebar-button tool-sidebar-ltk-button' title="{{ 's_help' | translate }}"></span>
            </div>
		</div>
        

    </div><!--   /Tool window Pages List -->

    <!--  Menu Open/Hide button  -->
    <div class='tool-sidebar-open-close' [ngClass]="{'toolsidebarocb': show_tool_pages_list}" *ngIf='show_menu_open_button || show_tool_pages_list'>
        <span class='tool-sidebar-open-icon' [ngClass]="{'toolsidebaroi': !show_tool_pages_list}" (click)='show_tool_pages_list = true'>
            <i class="fas fa-ellipsis-v"></i>
        </span>
        <span class='tool-sidebar-close-icon' [ngClass]="{'toolsidebarci': show_tool_pages_list}" (click)='show_tool_pages_list = false; closeMenu()'>
            <i class="fas fa-times"></i>
        </span>
    </div>
    <!--/Menu Open/Hide button   -->

    <div class='tool-sidebar-background-shadow' [ngClass]="{'sbbshadowopen': show_tool_pages_list}" (click)='show_tool_pages_list = false; closeMenu()'></div>


</div>

		