.card-content-body-wrap-or3{
	justify-content: flex-start;
}
.or3-story-wrap{
	display: block;
    justify-content: space-evenly;
    min-height: 26%;
    align-items: center;
    width: 99.6%;
    padding: 10px;
    font-size: 28px;
    line-height: 1.1;
    margin-top: 2%;
    max-height: 100%;
    overflow-y: auto;
    background-color: lightblue;
    z-index: 9999;
    box-shadow: 0 0 3px #777;
}
.or3-story-wrap span{
	cursor: pointer;	
}
.or3-story-question-wrap{
    display: none;
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    font-size: 20px;
    line-height: 1;
    color: white;
    background-color: #C69C6C;
    align-items: center;
    justify-content: center;
}
.or3-question-word-input{
    display: inline-block;
    width: 100px;
    line-height: 1;
    text-align: center;
    color: black;
}
.card-content-body-wrap-or1 {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 12px;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:1024px)
{
	.or3-story-question-wrap {
        width: 100%;
        bottom: 0px;
        padding: 4px;
        font-size: 11px;
        position: relative;
        height: 28%;
        align-items: center;
        justify-content: center;
    }
	.or3-story-wrap {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        line-height: 1.3;
        margin-top: 0;
        max-height: 72%;
        height: 72%;
    }
    .card-content-body-wrap-or3{
        padding-bottom: 0;
    }

}

.or4-story-question-wrap{
    flex-flow: column nowrap;
}
.or4-question-variants{
    display: block;
    position: relative;
}
.or4-question-variants input{
    display: inline-block;
    margin: 0 10px;
}
.or4-story-wrap{
    display: block;
    max-height: 67%;
}
.or4-correct-answer{
    display: block;
    float: left;
}
.or4-question-variants input {
    display: block;
    position: relative;
    margin: 0 20px;
    margin-right: 2px;
    width: 23px;
    height: 23px;
    float: left;
    top: 7px;
}

@media only screen and (max-width:1024px)
{
    
    .or4-story-question-wrap{
        height: 33%;
        line-height: 1.1;
    }

}