/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/activities/base/base.component.scss";
@import "./app/tests/basetest/basetest.component.scss";

html, body{
	height: 100%;
}

body {
  font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif;
  color: #444;
}

#app-layout {
    margin: 0;
    padding: 0;
    background-image: url(assets/img/mat.png);
    overflow: auto;
}
#chartjs-tooltip {
	opacity: 1;
	position: absolute;
	background: rgba(0, 0, 0, .7);
	color: white;
	border-radius: 3px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 38%;
	z-index: 9999;
}
.chartjs-tooltip-key {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.translainable-word, .translainable-word-center{
	position: relative;
}
.translainable-word div, .translainable-word-center div{
	display: none;
    position: absolute;
    left: 100%;
    top: -14px;
    width: 24px;
    min-width: 24px;
    margin-left: -24px;
    height: 24px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    font-size: 21px;
    line-height: 20px;
	text-align: center;
	transition: all 0.2s ease;
	z-index: 10100;
	white-space: nowrap;
}
.translainable-word-center div{
	top: 50%;
	left: 50%;
	margin-top: -28px;
	margin-left: -9px;
}
.translainable-word:hover div, .translainable-word-center:hover div{
	display: block;
}
.translainable-word div.translation-expand{
	min-width: 98% !important;
	width: auto !important;
	margin-left: -98% !important;
}
.translainable-word-center div.translation-expand-center{
	min-width: 40% !important;
	width: auto !important;
	margin-left: -20% !important;
}
.translation-expand-center span{
	margin: 0 !important;
}
.translation-icon-hide{
	display: none !important;
}
@keyframes trrotation {
	0%   {transform: rotate(0deg);}
	20%  {transform: rotate(72deg);}
	40%  {transform: rotate(144deg);}
	60% {transform: rotate(216deg);}
	80% {transform: rotate(288deg);}
	100% {transform: rotate(360deg);}
}
.translation-expand span img, .translation-expand-center span img{
	display: block; 
	position: relative; 
	margin: auto; 
	margin-top: 3px; 
	width: 18px; 
	height: 18px; 
	line-height: 21px; 
	transition: transform 1s linear; 
	animation-name: trrotation; 
	animation-duration: 1s; 
	animation-iteration-count: infinite;
}
span:hover[data-playw], span:hover[data-psword] {
	background-color: rgb(0, 173, 239) !important;
}
.translate-pointer{
    display: block;
    position: absolute;
    width: 23px;
    max-width: 70%;
    max-height: 30%;
    height: 8px;
    background-color: darkblue;
    top: 30%;
    left: 7%;
    -webkit-transform: skewX(62deg) rotate(152deg);
    transform: skewX(62deg) rotate(152deg);
    z-index: -1;
    transition: top 0.2s ease;
}
.translate-popup-init{
	display: flex;
    position: absolute;
    flex-flow: column;
    width: 80%;
    height: 70%;
    top: -149.5%;
    left: 10%;
    /* background-color: darkblue; */
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: darkblue;
    border-width: 0;
    font-size: 16px;
    line-height: 15px;
    overflow: hidden;
    z-index: 19999;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
	transition: all 0.1s ease;
	cursor: pointer;
}
.translate-popup-init h3{
	background-color: darkblue;
    height: 40px;
    margin: 0;
    padding: 3px 13px;
    width: 100%;
}
/*
.translate-popup-init h3::before {
    content: "X";
    display: block;
    position: absolute;
    right: 10px;
    top: 2px;
}
*/
.translate-popup-init span{
	display: flex;
	flex-flow: column;
    flex: 1;
    background-color: #efefef;
    color: darkblue;
	padding: 20px;
	overflow: auto;
	width: 100%;
	-webkit-overflow-scrolling:touch;
}
.translate-popup-init span img{ 
	display: block;
    margin: 10px auto;
    /* max-width: 220px; */
    max-height: 100px;
}
.translate-popup-expanded{
	width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
}
@media only screen and (max-width:1024px)
{
	.translainable-word div{
		top: -25px;
		width: 34px;
		min-width: 34px;
		margin-left: -20px;
		height: 34px;
		font-size: 30px;
		line-height: 32px;
	}
	.translation-expand span img, .translation-expand-center span img{
		margin-top: 3px; 
		width: 26px;
    	height: 26px;
		line-height: 22px; 
	}
	.translate-popup-expanded {
		width: 80%;
		height: 80%;
		top: 10%;
		left: 10%;
	}
	.translate-popup-init h3 {
		height: 22px;
		font-size: 14px;
	}
}