/***********************************************	AR6 block styling **************************************************/

.card-content-body-wrap-ar5{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 115px;
    z-index: 100;
}
.card-input-field-ar5{
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #C69C6D;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0 0 10px green; */
    padding-top: 16px;
}
.card-input-ar5{
    display: block;
    position: relative;
    -webkit-appearance: none;
    width: 80%;
    margin: auto;
    height: 119px;
    border-style: none;
    /* box-shadow: inset 0 0 7px green; */
    border-radius: 5px;
    background-color: #3AB54A;
    color: white;
    text-align: center;
    padding: 0;
    font-size: 80px;
    padding-bottom: 17px;
}
.card-content-hint1-ar5{
    display: block;
    position: absolute;
    top: -41px;
    left: 50%;
    margin-left: -34px;
    font-size: 24px;
    background-color: #C69C6D; color: white;
    padding: 0 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
}
.card-content-hint3-ar5{
    display: block;
    position: absolute;
    top: 110%;
    width: 200%;
    left: -50%;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.card-content-hint3-letter-ar5{
    display: block;
    position: relative;
    width: 33%;
    float: left;
    text-align: center;
}
.card-content-hint3-letter-ar5 span{
    display: inline-block;
    background-color: #C69C6D; color: white;
    padding: 0 16px;
    border-style: solid;
    border-width: 1px;
    font-size: 36px;
    min-width: 50px;
}

.card-hint-buttons-wrap{
    display: block;
    position: absolute;
    max-width: 100px;
    right: 40px;
    top: 75px;
    height: 243px;
}
.card-hint-button-1, .card-hint-button-2, .card-hint-button-3{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}
.card-hint-button-1 button, .card-hint-button-2 button, .card-hint-button-3 button{
    display: block;
    position: relative;
    margin: auto;
}

.card-hint-button-1{

}
.card-hint-button-2{

}
.card-hint-button-3{

}
.card-hint-button-1 button{

}
.card-hint-button-2 button{

}
.card-hint-button-3 button{
    
}
.card-description-wrap-ar5 {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 86px;
    text-align: center;
    font-size: 12px;
    z-index: 100;
    color: #C2272D;
}
.card_hint3_4_letter_ar5{
    width: 25%;
}

/*        Mobile layout         */

@media screen and (max-width: 1024px) {
   .card-content-body-wrap-ar5 {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .card-hint-buttons-wrap{
        display: block;
        position: relative;
        max-width: 300px;
        margin: auto;
        margin-top: 94px;
        height: auto;
        right: 0;
        top: 0;
    }
    .card-hint-button-1, .card-hint-button-2, .card-hint-button-3{
        display: block;
        position: relative;
        width: 33%;
        float: left;
        margin-bottom: 10px;
    }
    .card-description-wrap-ar5 {
        margin-top: 0;
    }
    .card-input-ar5{
        padding-bottom: 6px;
    }
    .card-content-hint1-ar5 {
        margin-left: -38px;
        width: 75px;
    }
    .card-description-wrap-ar5 {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .card-input-ar5 {
        height: 52px;
        width: 52px;
        margin-top: 4px;
        font-size: 37px;
    }
}



.card-content-hint1-ar6{
    top: 165px;
    z-index: 100;
}
.card-content-expected-ar6{
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -50px;
}
.card-content-expected-wrap{
    display: block;
    position: relative;
    float: left;
    width: 33%;
}
.card-content-expected-item-ar6{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: darkgreen;
}
.card-content-expected-1-ar6{
    float: left;
}
.card-content-expected-2-ar6{
    margin: auto;
}
.card-content-expected-3-ar6{
    float: right;
}
.expecteditemar6{
    background-color: lightgreen;
    box-shadow: inset 0 0 15px green;
}

/*        Mobile layout         */

@media screen and (max-width: 1024px) {
	.card-content-expected-ar6 {
	    height: 15px;
    	top: -29px;
    	left: 0;
	}
	.card-content-expected-item-ar6 {
	    width: 15px;
	    height: 15px;
	    border-radius: 8px;
	}
	.card-content-hint1-ar6 {
	    top: 74px;
	}
}