.btn{
    margin: 2px;
    font-size: 26px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    /*border-color: #0062cc;*/
    border-style: solid;
    border-width: 2px;
    border-color: red !important;
}