<div class='card-item-navigation-prev' [ngStyle]='nav_style_prev' (click)='movePrev()' *ngIf='_mode === "dual"'></div>
<div class='card-item-navigation-next' [ngStyle]='nav_style_next' (click)='moveNext()' *ngIf='_mode === "dual"'
[ngClass]="{'blinkhighlight': blinknext}"></div>


<div class="card-block-item card-style-obj-single card-block-gmu">
  <div class='bw1-block bw1-word-wrap gmu-word-wrap' *ngIf="showword && !showresult">
		<span class='bw1-word' (click)="playWord()" [innerHTML]="display_answer_word | bindhtml"></span>
	</div>
	<div class='bw1-block bw1-letters-wrap gmu-letters-wrap'  *ngIf="!showresult">
		<span class='gmu-syllables-selector gmu-syllables-selector-letters'>
			<span class='bw1-letter gmu-letters gmu-letters-select' *ngFor="let l of DisplayRandomsyllables; let kl=index" [ngClass]="{'gmudash': l==='-'}">
				{{ l }}				
			</span>
    </span>
    <span class='gmu-syllables-selector gmu-syllables-selector-syllables' *ngIf='split_syllables_show'>
      <span class='bw1-letter gmu-letters' *ngFor="let l of syllables; let kl=index" [attr.data-letter]='kl' [ngClass]="{'gmudash': l==='-'}">
        {{ l }}
        <span class='gmu-dashmark' *ngIf="l === '-'"></span>
      </span>
    </span>
  </div>
  
	<div class='gmu-results' *ngIf="showresult">
		<span class='gmu-result-right'>Right: {{ display_result.right }}</span>
		<span class='gmu-result-wrong'>Wrong: {{ display_result.wrong }}</span>
  </div>
  <div class="bw1-block bw1-word-wrap gmu-word-wrap custom-input text-center" *ngIf="!showresult">
    <input type="text" class="text-center form-control input-sm" [(ngModel)]="entered_val" #focus>
  </div>
	<div class='bw1-block bw1-description gmu-description'>
		{{ card.content[0].desc }}
	</div>
</div>
